{% extends 'self_unenrollment_tool/base.html' %}
{% load static %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-med-9">
            <h2>Error</h2>
            {% if message %}
                <p class="lead">{{ message }}</p>
            {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}