{% extends 'self_unenrollment_tool/base.html' %}
{% load static %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-med-9">
        <h1>Un-enroll from this course</h1>
        {% if is_self_enroll_course %}
            <p>This course does have self-enrollment enabled.</p>
            {% if is_self_enrolled %}
                <p>This user is self-enrolled in this course.</p>
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" value="Leave this course" class="button primary"/>
                </form>
            {% else %}
                <p>You are not self-enrolled in this course, so you cannot un-enroll here. Please contact your teaching staff for help.</p>
            {% endif %}
        {% else %}
            <p>Self-enrollment is not enabled for this course, so you cannot un-enroll here. Additional instructions TBD.</p>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{% endblock javascript %}