# icommons_tools - Python/Django supervisor based project startup script
#
# Call upon the application's supervisor configuration to start up required services

description "iCommons Tools Django Project"

start on startup
console log

script
    chdir /path/to/project
    . /home/vagrant/.virtualenvs/[virtualenv]/bin/activate
    . /home/vagrant/.virtualenvs/[virtualenv]/bin/postactivate
    python manage.py supervisor --daemonize --logfile=/path/to/logfile/supervisord.log --pidfile=/path/to/pid/supervisord.pid 
end script
