
/* School CSS */
#header-inner{
    background-color: #52A0B5 !important;
    background-image: none !important;
}


#header{
    background-color: #52A0B5 !important;
    background-image: none !important;
}

.harvardLogo{
    display: inline-block;
    left: 16px;
    bottom: 0;
    position: absolute;
    background-image: url('images/HDSlow.png') !important;
	background-repeat: no-repeat !important;
    background-size: 170px 62px;
    width: 170px;
    height: 62px;
}

/* TLT CSS */

/*#wrapper{ display: none; }
body.settings #wrapper{ display: block; }*/

#unauthorized_message { display: none; }


#remove-viewer-role {
	float: right;
	margin-right: 5px;
	padding: 2px 2px;
}

#add-shopper-role {
	float: right;
	padding: 2px 2px;
}

#remove-shopper-role {
	float: right;
	padding: 2px 2px;
}
