{% load static %}
<form ng-controller="CourseInstanceFilterController">
    <p>
    <fieldset>
        <div class="row">
            <div class="col-md-6">
                <label for="schoolSelect" class="block">School:</label>
            </div>
            <div class="col-md-6">
                <select id="schoolSelect" class="form-control" ng-cloak ng-if="courseInstanceFilterModel.isFilterSelectable('school')" ng-model="courseInstanceFilterModel.filters.school" ng-options="s.id as s.name for s in courseInstanceFilterModel.filterOptions.school" ng-change="handleSchoolSelected()"></select>
                <span ng-cloak ng-if="!courseInstanceFilterModel.isFilterSelectable('school')">{% verbatim %}{{ courseInstanceFilterModel.getSelectedFilterName('school') }}{% endverbatim %}</span>
            </div>
        </div>
    </fieldset>
    </p>
    <p>
    <fieldset>
        <div class="row">
            <div class="col-md-12">
                <div ng-cloak ng-show="courseInstanceFilterModel.loading.term">
                    <img src="{% static 'images/ajax-loader-small.gif' %}" class="select-loading"/>
                </div>
            </div>
        </div>

        <div ng-cloak ng-show="showFilter('school', 'term')">
            <div class="row">
                <div class="col-md-6">
                    <label for="termSelect" class="block">Academic Term:</label>
                </div>
                <div class="col-md-6">
                    <select id="termSelect" class="form-control" ng-cloak ng-if="courseInstanceFilterModel.isFilterSelectable('term')" ng-model="courseInstanceFilterModel.filters.term" ng-options="t.id as t.name for t in courseInstanceFilterModel.filterOptions.term" ng-change="handleTermSelected()"></select>
                    <span ng-cloak ng-if="!courseInstanceFilterModel.isFilterSelectable('term')">{% verbatim %}{{ courseInstanceFilterModel.getSelectedFilterName('term') }}{% endverbatim %}</span>
                </div>
            </div>
        </div>
    </fieldset>
    </p>
    <p>
    <fieldset ng-cloak ng-show="showFilter('term', 'department')">
        <div class="row">
            <div class="col-md-6">
                <label for="departmentSelect" class="block">Department:</label>
            </div>
            <div class="col-md-6">
                <select id="departmentSelect" class="form-control" ng-model="courseInstanceFilterModel.filters.department" ng-options="d.id as d.name for d in courseInstanceFilterModel.filterOptions.department" ng-change="handleDepartmentSelected()" ng-disabled="courseInstanceFilterModel.getSelectedFilterId('course_group')"></select>
                <span ng-cloak ng-if="!courseInstanceFilterModel.isFilterSelectable('term')">{% verbatim %}{{ courseInstanceFilterModel.getSelectedFilterName('term') }}{% endverbatim %}</span>
            </div>
        </div>

    </fieldset>
    </p>
    <p>
    <fieldset ng-cloak ng-show="showFilter('term', 'course_group')">
        <div class="row">
            <div class="col-md-6">
                <label for="courseGroupSelect" class="block">Course Group:</label>
            </div>
            <div class="col-md-6">
                <select id="courseGroupSelect" class="form-control" ng-model="courseInstanceFilterModel.filters.course_group" ng-options="cg.id as cg.name for cg in courseInstanceFilterModel.filterOptions.course_group" ng-change="handleCourseGroupSelected()" ng-disabled="courseInstanceFilterModel.getSelectedFilterId('department')"></select>
                <span ng-cloak ng-if="!courseInstanceFilterModel.isFilterSelectable('course_group')">{% verbatim %}{{ courseInstanceFilterModel.getSelectedFilterName('term') }}{% endverbatim %}</span>
            </div>

        </div>
    </fieldset>
</form>
