{% extends "base.html" %}
{% block body %}


<nav>
  <h3>
    <a href="{% url 'dashboard_account' %}">Admin Console</a>
    <small><i class="fa fa-chevron-right"></i></small>
    Add Cross Listings
  </h3>
</nav>
<br>
<body role="application">

 <div >
          <div class="panel panel-default">
              <div class="panel-heading"><h4>Create a New Cross Listing Pair</h4></div>
              <div class="panel-body">
                  <label  for="primary-course">
                       Primary Course
                  </label>
                  <input  id="primary-course">
                    </input>
                    &nbsp;&nbsp

                  <label for="secondary-course">
                      Secondary Course
                  </label>
                  <input  id="secondary-course"
                           >
                  </input>
                  <div class="form-group" style="margin-top: 1em; align:center;">
                        <a href="{% url 'cross_list_courses:create_new_pair' %}" class="btn btn-primary "> Pair Courses</a>
                  </div>

              </div>
          </div>

    </div>


    <div> <h4>Potential Cross Listings </h4></div>
    <div class="container-fluid">
        <div class="row" style="margin-top: .25em;">

            <table class="datatable table display no-footer">
                <thead>
                    <th>Primary Course</th>
                    <th>Secondary Course</th>
                    <th>Select</th>

                </thead>
                <tbody>
                {% for mapping in potential_mappings %}
                    <tr>
                        <td>{{ mapping.primary_school_id | upper }}: {{ mapping.primary_short_title }} :{{ mapping.primary_course_instance_id }}
                             <br>
                            {{ mapping.primary_sub_title }}
                        </td>
                        <td>{{ mapping.secondary_school_id | upper }}: {{ mapping.secondary_short_title }} : {{ mapping.secondary_course_instance_id }}
                                <br>
                            {{ mapping.secondary_sub_title }}
                        </td>
                         <td>
                             <input type="checkbox" name="add_mapping">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

<script>
    $(document).ready(function() {
        $('.datatable').dataTable( {
            paging: true,
            "bInfo" : false,
            "aoColumnDefs": [ { "orderable": false, "targets": 2 } ],
            "oLanguage": {
              "sSearch": "Search"
            }
        });
    });
</script>

{% endblock %}
