{% extends "icommons_ui/base_lti.html" %}
{% load collections %}
{% load django_helpers %}

{% block title %}Cross-List Courses V2{% endblock title %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="https://static.tlt.harvard.edu/shared/DataTables-1.13.2/css/dataTables.bootstrap5.min.css"
          media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="https://static.tlt.harvard.edu/shared/Select-1.6.0/css/select.bootstrap5.min.css"
          media="screen"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
          type="text/css" media="all" />

{% endblock stylesheet %}

{% block javascript %}
    {{ block.super }}
    <script src="https://static.tlt.harvard.edu/shared/DataTables-1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://static.tlt.harvard.edu/shared/DataTables-1.13.2/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://static.tlt.harvard.edu/shared/Select-1.6.0/js/select.bootstrap5.min.js"></script>
    <script src="https://static.tlt.harvard.edu/shared/Select-1.6.0/js/select.dataTables.min.js"></script>
    <script src="https://static.tlt.harvard.edu/shared/Select-1.6.0/js/select.jqueryui.min.js"></script>
    <script src="https://static.tlt.harvard.edu/shared/Select-1.6.0/js/dataTables.select.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>

    <script>
        window.globals.STATIC_URL = '{% settings_value "STATIC_URL" %}';
        window.globals.CANVAS_URL = '{% settings_value "CANVAS_URL" %}';
    </script>
{% endblock javascript %}

