{% extends "base.html" %}
{% block body %}

<nav>
  <h3>
    <a href="{% url 'dashboard_account' %}">Admin Console</a>
    <small><i class="fa fa-chevron-right"></i></small>
    Cross Listings
  </h3>
</nav>

<body role="application">
    <div class="container-fluid">
        <div class="row" style="margin-top: .25em;">
            <table class="datatable table display no-footer">
                <thead>
                    <th>Primary</th>
                    <th>Secondary</th>
                    <th>Modified By</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                {% for xlist_map in xlist_maps %}
                    <tr>
                        <td>{{ xlist_map.primary_course_instance.title }}</td>
                        <td>{{ xlist_map.secondary_course_instance.title }}</td>
                        <td>{{ xlist_map.last_modified_by }}</td>
                        <td>
                            <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

<script>
    $(document).ready(function() {
        $('.datatable').dataTable( {
            paging: false,
            "bInfo" : false,
            "aoColumnDefs": [ { "orderable": false, "targets": 3 } ],
            "oLanguage": {
              "sSearch": "Search"
            }
        });
    });
</script>

{% endblock %}
