{% verbatim %}

<nav>
  {% endverbatim %}
  <h3><a href="{% url 'dashboard_account' %}">Admin Console</a>
      <small><i class="fa fa-chevron-right"></i></small>
      Publish Courses</h3>
  {% verbatim %}
</nav>

<main>
  <div class="row">
    <div class="col-md-6">
      {{ school.name }}
    </div>
    <div class="col-md-6">
      <div class="btn-group" uib-dropdown>
        <button id="dropdownMenuTerm"
                ng-bind-html="filters.terms.text"
                type="button"
                class="btn btn-default"
                uib-dropdown-toggle>
        </button>
        <ul class="dropdown-menu"
            uib-dropdown-menu
            role="menu"
            aria-labelledby="dropdownMenuTerm">
          <li ng-repeat="t in filterOptions.terms track by $index">
            <a href ng-click="$parent.selectTerm($index)">{{ t.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        (stats)
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary"
              id="publishAllButton"
              ng-click="publish()"
              ng-disabled="!filters.terms.value"
              type="button">
        <i class="fa fa-search"></i>
        Publish All
      </button>
    </div>
  </div>
</main>

{% endverbatim %}
