{% load static %}
{% load django_helpers %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no">
  <link href="/static/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="stylesheet" type="text/css"
        href="{% static 'font-awesome-4.2.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css"
        href="{% static 'bootstrap-3.3.4/css/bootstrap.min.css' %}"
        media="screen"/>
  {% block css %}{% endblock css %}
  <script src="{% static 'jquery-1.10.2/jquery-1.10.2.min.js' %}"></script>
  <script src="{% static 'bootstrap-3.3.4/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'underscore-1.8.2/underscore.min.js' %}"></script>
{% if debug %}
  <script src="{% static 'angular-1.3.9/angular.js' %}"></script>
  <script src="{% static 'angular-1.3.9/angular-sanitize.js' %}"></script>
  <script src="{% static 'angular-1.3.9/angular-route.js' %}"></script>
{% else %}
  <script src="{% static 'angular-1.3.9/angular.min.js' %}"></script>
  <script src="{% static 'angular-1.3.9/angular-sanitize.min.js' %}"></script>
  <script src="{% static 'angular-1.3.9/angular-route.min.js' %}"></script>
{% endif %}
  <script src="{% static 'djangular/js/django-angular.js' %}"></script>
  {% include 'django_auth_lti/resource_link_id.html' %}
  <script>
    window.globals.STATIC_URL = '{% settings_value "STATIC_URL" %}';
  </script>
  {% block js %}{% endblock js %}
  <title>Course Info</title>
</head>
{% block body %}{% endblock body %}
</html>
