{% extends 'course_info/base.html' %}

{% load static %}
{% load collections %}
{% load django_helpers %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'datatables-1.10.7/media/css/jquery.dataTables.min.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'datatables-bootstrap3/BS3/assets/css/datatables.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'course_info/css/index.css' %}">
{% endblock css %}

{% block js %}
    <script src="{% static 'datatables-1.10.7/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'datatables-bootstrap3/BS3/assets/js/datatables.js' %}"></script>
{% endblock js %}

{% block body %}
<body class="lti-tool" role="application" ng-app="CourseInfo">
  <div ng-view>
  </div>

  <script>
    window.globals.STATIC_URL = '{% settings_value "STATIC_URL" %}';
    window.schoolOptions = {{ schools | safe }};
  </script>
  <script src="{% static 'course_info/js/app.js' %}"></script>
  <script src="{% static 'course_info/js/controllers/SearchController.js' %}"></script>
  <script src="{% static 'course_info/js/controllers/EnrollmentsController.js' %}"></script>
  <script src="{% static 'course_info/js/services/CourseInstancesService.js' %}"></script>
</body>
{% endblock body %}
