{% load collections %}
{% load django_helpers %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css"
                           href="{% static 'font-awesome-4.2.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css"
                           href="{% static 'bootstrap-3.3.4/css/bootstrap.min.css' %}"
                           media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'datatables-1.10.7/media/css/jquery.dataTables.min.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'datatables-bootstrap3/BS3/assets/css/datatables.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'course_info/css/index.css' %}">

    {% if debug %}
    <script src="{% static 'jquery-1.10.2/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'datatables-1.10.7/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'underscore-1.8.2/underscore.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.4/js/bootstrap.js' %}"></script>
    <script src="{% static 'angular-1.3.9/angular.js' %}"></script>
    <script src="{% static 'angular-1.3.9/angular-route.js' %}"></script>
    <script src="{% static 'angular-1.3.9/angular-sanitize.js' %}"></script>
    <script src="{% static 'djangular/js/django-angular.js' %}"></script>
    <script src="{% static 'angular-datatables-0.5.1/angular-datatables.js' %}"></script>
    {% else %}
    <script src="{% static 'jquery-1.10.2/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'datatables-1.10.7/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'underscore-1.8.2/underscore.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.4/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'angular-1.3.9/angular.min.js' %}"></script>
    <script src="{% static 'angular-1.3.9/angular-route.min.js' %}"></script>
    <script src="{% static 'angular-1.3.9/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'djangular/js/django-angular.min.js' %}"></script>
    <script src="{% static 'angular-datatables-0.5.1/angular-datatables.min.js' %}"></script>
    {% endif %}
    <script src="{% static 'datatables-bootstrap3/BS3/assets/js/datatables.js' %}"></script>
    {% include 'django_auth_lti/resource_link_id.html' %}
    <script>
      window.globals.STATIC_URL = '{% settings_value "STATIC_URL" %}';
      window.schoolOptions = {{ schools | safe }};
    </script>
    <title>Course Info</title>
  </head>

  <body class="lti-tool" role="application" ng-app="CourseInfo">
    <div ng-view>
    </div>

    <script src="{% static 'course_info/js/app.js' %}"></script>
    <script src="{% static 'course_info/js/controllers/SearchController.js' %}"></script>
    <script src="{% static 'course_info/js/controllers/PeopleController.js' %}"></script>
    <script src="{% static 'course_info/js/services/CourseInstancesService.js' %}"></script>
    <script src="{% static 'course_info/js/directives/BadgeDirective.js' %}"></script>
  </body>
</html>
