{% load collections %}
{% load django_helpers %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css"
          href="{% static 'font-awesome-4.5.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'bootstrap-3.3.6/dist/css/bootstrap.min.css' %}"
          media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'datatables-1.10.15/media/css/jquery.dataTables.min.css' %}"
          media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'cross_list_course_v2s/css/main.css' %}"
          media="screen"/>

    <script src="{% static 'jquery-2.2.2/jquery-2.2.2.js' %}"></script>
    <script src="{% static 'datatables-1.10.15/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.6/dist/js/bootstrap.js' %}"></script>

    {% include 'django_auth_lti/resource_link_id.html' %}

    {# fixes safari autocomplete issue #}
    {# (see https://github.com/angular/angular.js/issues/1460) #}
    <script src="{% static 'course_info/js/polyfills/autofill-event.js' %}"></script>

    <script>
      window.globals.STATIC_URL = '{% settings_value "STATIC_URL" %}';
    </script>

    <title>Cross-List Courses V2</title>
  </head>


  <body class="lti-tool" role="application">
    {% block body %}
    {% endblock %}
  </body>
</html>
