{% extends "icommons_tools/base.html" %}
{% load webdesign %}

{% block nav_title %}Sample Page{% endblock %} 

{% block navbar_menus %}
<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Page Types
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{% url "sample" %}">Page with Inverse Navbar</a></li>
      <li><a href="{% url "sample-dn" %}">Page with Default Navbar</a></li>
      <li><a href="{% url "sample-jt" %}">Page with Jumbotron</a></li>
    </ul>
  </li>
</ul>
{% endblock navbar_menus %}


{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <h1>Something important</h1>
        {% lorem 1 p %}
    </div>
</div>
{% endblock jumbotron %}


{% block content %}
    <h1>Some more content</h1>
    {% lorem 3 p %}
    <h2>A subsection</h2>
    {% lorem 3 p %}

{% endblock content %}