.inert {
    /* disables mouse events (elements can still be accessed via
       keyboard/tabindex) and greys them out to indicate a disabled state */
    opacity: .5;
    pointer-events: none;
}


table.person-info-table {
    display: table;
    width: 920px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    /* moves ordering arrow icons in datatable header to the left of the column
       header text */
    background-position: left center;
}

#search-form-container {
    /* allows search form label to align vertically with the input group */
    align-items:baseline;
    display:flex;
    padding-bottom: 10px;
    padding-top: 10px;
}

#search-form-input-group {
    /* allows search form label to pull right up to the input group */
    padding:0 10px;
}

#search-form-label {
    /* allows search form label to align closely with the input group */
    padding:0;
}

#search-type-button {
    /* fixes issue where border between button and input element was doubled
       at some screen/text sizes */
    border-right-width:0;
}
