{% extends "base_datatables.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <h1>{% block nav_title %} {% block title %} iSites Export Tool {% endblock title %} {% endblock nav_title %}</h1>

  <div class="row spacer">
    {% crispy form %}
    <div class="col-sm-4">
        {% if showing_archive %}
          <a class="pull-right" href="{% url 'et:job_list' %}">Show Current</a>
        {% else %}
          <a class="pull-right" href="{% url 'et:job_list_archive' %}">Show Archived</a>
        {% endif %}
    </div>
  </div>

  <table id="joblist_tbl" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered">
    <thead>
       <tr>
           <th>Site</th>
           <th>Created On</th>
           <th>Created By</th>
           <th>Status</th>
           <th>Output</th>
       </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        <tr>
            <td><div>{{ job.site_keyword }}</div></td>
            <td><div>{{ job.created_at }}</div></td>
            <td><div>
              {% with exporter=job.person %}
                  {{ exporter.name_first}} {{ exporter.name_last }}
              {% endwith %}
            </div></td>
            <td><div>{{ job.status }}</div></td>
            <td>
              <div>
                  {% if job.is_complete %}
                    <a href="{{ base_download_url|add:job.output_file_name }}" ><i class="fa fa-download"></i>{{ job.output_file_name }}</a>
                  {% else %}
                    {{ job.output_message }}
                  {% endif %}
              </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <style>
      .form-inline .btn { vertical-align: top}
      #div_id_site_keyword { width:50%; }
      .spacer { margin-bottom: 40px; }
    </style>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $("document").ready(function() {
            var oTable = $('#joblist_tbl').dataTable({
                //"aoColumnDefs": [],
                "aaSorting": [[ 1, 'desc' ]],
                /*"sDom": "<'row'<'col-sm-12'<'pull-right'f><'pull-left'l>r<'clearfix'>>>t<'row'<'col-sm-12'<'pull-left col-xs-4'i><'pull-left dataTables_info status-limiter'><'pull-right'p><'clearfix'>>>",*/
                "oLanguage": {
                  "sSearch": "Search"
                }
            });
        });
    </script>
{% endblock %}
