{% extends "icommons_ui/base_datatables.html" %}
{% load crispy_forms_tags %}

{% block page_title %} {% block tool_title %} iSites Export Tool {% endblock tool_title %} {% endblock page_title %}

{% block content %}

  <div class="row spacer">
    {% crispy form %}
    <div class="col-sm-4">
        {% if showing_archive %}
          <a class="pull-right" href="{% url 'et:job_list' %}">Show Current</a>
        {% else %}
          <a class="pull-right" href="{% url 'et:job_list_archive' %}">Show Archived</a>
        {% endif %}
    </div>
  </div>

  <table id="joblist_tbl" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered">
    <thead>
       <tr>
           <th>Site</th>
           <th>Created On</th>
           <th>Created By</th>
           <th>Status</th>
           <th>Output</th>
       </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
        <tr>
            <td><span>{{ job.site_keyword }}</span></td>
            <td><span data-sort="{{ job.created_at|date:"U" }}">{{ job.created_at }}</span></td>
            <td><span>
              {% with exporter=job.person %}
                  {{ exporter.name_first}} {{ exporter.name_last }}
              {% endwith %}
            </span></td>
            <td><span>{{ job.status }}</span></td>
            <td>
              <span>
                  {% if job.is_complete %}
                    <a href="{{ base_download_url|add:job.output_file_name }}" ><i class="fa fa-download"></i>{{ job.output_file_name }}</a>
                  {% else %}
                    {{ job.output_message }}
                  {% endif %}
              </span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <style>
      .form-inline .btn { vertical-align: top}
      #div_id_site_keyword { width:50%; }
      .spacer { margin-bottom: 40px; }
    </style>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
      jQuery(function($) {
          var oTable = $('#joblist_tbl').dataTable({
              "aoColumnDefs": [
                  { "sType": "data-sort-numeric", "aTargets": [ 1 ] }
              ],
              "aaSorting": [[ 1, 'desc' ]],
              "oLanguage": {
                "sSearch": "Search"
              }
          });
      });
    </script>    
{% endblock %}
