{% verbatim %}
<nav>
  <h3 class="breadcrumbs">
    {% endverbatim %}
    <a href="{% url 'dashboard_account' %}">Admin Console</a>
    {% verbatim %}
    <small><i class="fa fa-chevron-right"></i></small>
    Find People
  </h3>
</nav>

<main>

<div class="row" id="search-form-container-top-padding">
  <div class="col-sm-12"><p></p></div>
</div>

<div class="row" id="search-form-container">
  <div class="col-xs-offset-2 col-xs-1" id="search-form-label">
    <label for="search-type-button" class="pull-right">
      Search by:
    </label>
  </div>
  <div class="col-xs-7" id="search-form-input-group">
    <form novalidate id="search-form">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button"
                    class="btn btn-default dropdown-toggle"
                    id="search-type-button"
                    data-toggle="dropdown"
                    ng-bind-html="searchType.name + ' <span class=\'caret\'></span>'"
                    aria-haspopup="true"
                    aria-expanded="false">
            </button>
            <ul class="dropdown-menu" id="search-type-list">
              <li ng-repeat="opt in searchTypeOptions">
                <a href="" ng-click="updateSearchType(opt)"
                   id="search-type-link-{{opt.key}}">
                  {{ opt.name }}
                </a>
              </li>
            </ul>
          </div><!-- /input-group-btn -->
          <!-- todo: aria-label -->
          <input type="text" class="form-control" id="search-query-string"
                 aria-label="..."
                 ng-model="queryString"
                 placeholder="Please search for only one person at a time">
          <div class="input-group-btn">
            <button type="submit"
                    class="btn btn-primary"
                    id="search-submit-button"
                    ng-click="searchPeople()"
                    ng-disabled="operationInProgress">
              Search
            </button>
          </div><!-- /input-group-btn -->
        </div><!-- /input-group -->
      </div><!-- /form-group -->
    </form>
  </div><!-- /.col-xs-7 -->
</div><!-- /row -->

<div class="row" id="search-form-container-bottom-padding">
  <div class="col-sm-12"><p></p></div>
</div>

<div class="row" ng-if="operationInProgress" id="progress-bar-container">
  <div class="col-md-8 col-md-offset-2" id="progress-bar-inner-container">
    <uib-progressbar type="success" value="100"
                     class="progress-striped active">
      <span class="sr-only">Search in progress</span>

    </uib-progressbar>
  </div>
</div>

<div ng-if="messages.length" class="row" id="messages-container">
  <div class="col-sm-offset-2 col-sm-8">
    <div ng-repeat="message in messages">
      <uib-alert type="{{ message.type }}" id="message-alert-{{$index}}">
        <p class="message-text">
          {{ message.text }}
        </p>
      </uib-alert>
    </div>
  </div><!-- /.col-sm-8 -->
</div><!-- /row -->

<div class="row add-top-margin" id="search-results-container">
  <div class="col-sm-12" id="search-results-inner-container">
    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns"
           dt-instance="dtInstance" class="table table-striped table-hover"
           id="search-results-datatable">
    </table>
  </div>
</div>

</main>

{% endverbatim %}
