
SECURE_SETTINGS = {
    'icommons_api_host': '{{ secure_settings.icommons_api_host }}',
    'icommons_api_user': '{{ secure_settings.icommons_api_user }}',
    'icommons_api_pass': '{{ secure_settings.icommons_api_pass }}',

    'django_db_user': '{{ secure_settings.django_db_user }}',
    'django_db_pass': '{{ secure_settings.django_db_pass }}',

    'bitly_access_token': '{{ secure_settings.bitly_access_token }}',

    'qualtrics_api_key': '{{ secure_settings.qualtrics_api_key }}',

    'canvas_url': '{{ secure_settings.canvas_url }}',
    'canvas_token': '{{ secure_settings.canvas_token }}',

    'django_secret_key': '{{ secure_settings.django_secret_key }}',
    
    'cipher_key': '{{ secure_settings.cipher_key }}',

    'admins': (
        ('Admin User', 'admin_user@example.com'),
    ),

    'canvas_whitelist_oauth_token': '{{ secure_settings.canvas_whitelist_oauth_token }}',
}
