{% verbatim %}

<nav>
    <h3 class="breadcrumbs">
        {% endverbatim %}
        <a href="{% url 'dashboard_account' %}">Admin Console</a>
        &gt; <a href="#/">Find Course Info</a>
        {% verbatim %}
        <small><i class="fa fa-chevron-right"></i></small>
        Details for {{courseInstance.title}}
    </h3>
</nav>

<main class="float=left col=60">
    <div class="container-fluid">

        <ul class="list-group">

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Course Code: </strong>
                    </div>
                    <div class="col-md-10">{{dc.courseInstance.registrar_code_display }}</div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Cross Listing: </strong>
                    </div>
                    <div class="col-md-10" ng-switch on="dc.courseInstance.xlist_status">
                        <span ng-switch-when="Primary" class="label label-info">Primary</span>
                        <span ng-switch-when="Secondary" class="label label-info">Secondary</span>
                        <span ng-switch-default class="label label-info">N/A</span>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Term: </strong>
                    </div>
                    <div class="col-md-10">{{dc.courseInstance.term}}</div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>SIS/Course Instance ID: </strong>
                    </div>
                    <div class="col-md-10">{{dc.courseInstance.course_instance_id}}</div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Course Title: </strong>
                    </div>
                    <div class="col-md-10" ng-bind-html="dc.courseInstance.title"></div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Short Title: </strong>
                    </div>
                    <div class="col-md-10" ng-bind-html="dc.courseInstance.short_title"></div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Subtitle: </strong>
                    </div>
                    <div class="col-md-10" ng-bind-html="dc.courseInstance.sub_title"></div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Description: </strong>
                    </div>
                    <div class="col-md-10" ng-bind-html="dc.courseInstance.description"></div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Notes: </strong>
                    </div>
                    <div class="col-md-10" ng-bind-html="dc.courseInstance.notes"></div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Instructors (display): </strong>
                    </div>
                    <div class="col-md-10">{{dc.courseInstance.instructors_display}}</div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>People: </strong>
                    </div>
                    <div class="col-md-10"><a href="#/people/{{dc.courseInstance.cid}}">people</a></div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Location: </strong>
                    </div>
                    <div class="col-md-10">{{dc.courseInstance.location}}</div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Meeting Time: </strong>
                    </div>
                    <div class="col-md-10">{{dc.courseInstance.meeting_time}}</div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Departments: </strong>
                    </div>
                    <div class="col-md-10" ng-repeat="dept in dc.courseInstance.departments">
                         <div class="list-group" ng-if="dc.courseInstance.departments.length > 0">
                            <div class="list-group-item list-group-sub-item" ng-repeat="dept in dc.courseInstance.departments">
                                {{dept.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Course Groups: </strong>
                    </div>
                    <div class="col-md-10">
                        <div class="list-group">
                            <div class="list-group-item list-group-sub-item" ng-repeat="group in dc.courseInstance.course_groups">
                                {{group.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Associated Official and Unofficial Site(s): </strong>
                    </div>
                    <div class="col-md-10">
                        <div class="list-group">
                            <div class="list-group-item list-group-sub-item" ng-repeat="site in dc.courseInstance.sites">
                                <div class="label label-primary col-md-1" ng-if="site.map_type == 'official'">Official</div>
                                <div class="label label-primary col-md-1" ng-if="site.map_type == 'unofficial'">Unofficial</div>
                                <div class="col-md-11"><a href="{{site.course_site_url}}"
                                                          target="_blank">{{site.course_site_url}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Conclusion Date: </strong>
                    </div>
                    <div class="col-md-10">{{courseInstance.conclude_date}}</div>
                </div>
            </li>

        </ul>
    </div>
</main>

{% endverbatim %}