{% verbatim %}

<nav>
    <h3 class="breadcrumbs">
        {% endverbatim %}
        <a href="{% url 'dashboard_account' %}">Admin Console</a>
        &gt; <a href="#/">Find Course Info</a>
        {% verbatim %}
        &gt;
        <span ng-if="dc.courseInstance.title">Details for {{dc.courseInstance.title}}</span>
        <span ng-if="!dc.courseInstance.title">Loading details for course instance {{dc.courseInstanceId}}... <i class="fa fa-refresh fa-spin"></i></span>
    </h3>
</nav>

<main>

      <div id="alerts">
        <div class="alert alert-success" role="alert"
             id="alert-success-update-succeeded"
             ng-if="dc.alertPresent('global', 'updateSucceeded')">
          <p>
            <i class="fa fa-check"></i>
            Course instance updated.
          </p>
        </div>
        <div class="alert alert-info" role="alert"
             id="alert-info-form-reset"
             ng-if="dc.alertPresent('global', 'formReset')">
          <p>
            <i class="fa fa-check"></i>
            Course instance details reset.
          </p>
        </div>
        <div class="alert alert-danger" role="alert"
             id="alert-danger-update-failed"
             ng-if="dc.alertPresent('global', 'updateFailed')">
          <p>
            <i class="fa fa-warning"></i>
            The course instance could not be updated. Please try again.
            Error details: {{ dc.alerts.global.updateFailed.details }}
          </p>
        </div>
        <div class="alert alert-danger" role="alert"
             id="alert-danger-fetch-course-instance-failed"
             ng-if="dc.alertPresent('global', 'fetchCourseInstanceFailed')">
          <p>
            <i class="fa fa-warning"></i>
            The course instance details could not be fetched from the server.
            Please try again.
            Error details:
            {{ dc.alerts.global.fetchCourseInstanceFailed.details }}
          </p>
        </div>
      </div>

      <form name="dc.courseDetailsForm" class="form-horizontal" ng-if="dc.courseInstance.title" ng-submit="dc.submitCourseDetailsForm(this)">
        <ul class="list-group">

            <hu-editable-field
                is-loading="dc.isDefined(dc.courseInstance.registrar_code_display)"
                form-value="dc.courseInstance.registrar_code_display"
                model-value="dc.formDisplayData.registrar_code_display"
                field="registrar_code_display"
                label="Course Code"></hu-editable-field>

            <hu-field-label-wrapper
              field="xlist_status"
              is-loading="dc.isDefined(dc.courseInstance.xlist_status)"
              label="Cross listing">
                <div ng-switch on="dc.courseInstance.xlist_status">
                  <span ng-switch-when="Primary" class="label label-info">
                    Primary </span>
                  <span ng-switch-when="Secondary" class="label label-info">
                    Secondary </span>
                  <span ng-switch-default class="label label-info">N/A</span>
                </div>
            </hu-field-label-wrapper>

            <hu-editable-field
                is-loading="dc.isDefined(dc.courseInstance.term)"
                form-value="dc.courseInstance.term"
                model-value="dc.courseInstance.term"
                field="term"
                label="Term"></hu-editable-field>

            <hu-editable-field
                is-loading="dc.isDefined(dc.courseInstance.course_instance_id)"
                form-value="dc.courseInstance.course_instance_id"
                model-value="dc.courseInstance.course_instance_id"
                field="course_instance_id"
                label="SIS/Course Instance ID"></hu-editable-field>

            <hu-editable-field
                editable="dc.editable"
                is-loading="dc.isDefined(dc.courseInstance.title)"
                form-value="dc.formDisplayData.title"
                model-value="dc.courseInstance.title"
                maxlength="500"
                field="title"
                label="Course Title"></hu-editable-field>

            <hu-editable-field
                editable="dc.editable"
                is-loading="dc.isDefined(dc.courseInstance.short_title)"
                form-value="dc.formDisplayData.short_title"
                model-value="dc.courseInstance.short_title"
                maxlength="200"
                field="short_title"
                label="Short Title"></hu-editable-field>

            <hu-editable-field
                editable="dc.editable"
                is-loading="dc.isDefined(dc.courseInstance.sub_title)"
                form-value="dc.formDisplayData.sub_title"
                model-value="dc.courseInstance.sub_title"
                maxlength="500"
                field="sub_title"
                label="Subtitle"></hu-editable-field>

            <hu-editable-field
                editable="dc.editable"
                is-loading="dc.isDefined(dc.courseInstance.description)"
                form-value="dc.formDisplayData.description"
                model-value="dc.courseInstance.description"
                field="description"
                label="Description"></hu-editable-field>

            <hu-editable-field
                editable="dc.editable"
                is-loading="dc.isDefined(dc.courseInstance.notes)"
                form-value="dc.formDisplayData.notes"
                model-value="dc.courseInstance.notes"
                maxlength="2000"
                field="notes"
                label="Notes"></hu-editable-field>

            <hu-editable-field
                editable="dc.editable"
                is-loading="dc.isDefined(dc.courseInstance.instructors_display)"
                form-value="dc.formDisplayData.instructors_display"
                model-value="dc.courseInstance.instructors_display"
                maxlength="4000"
                field="instructors_display"
                label="Instructors (display)"></hu-editable-field>

            <hu-field-label-wrapper
                is-loading="dc.isDefined(dc.courseInstance.members) && !dc.alertPresent('form', 'fetchMembersFailed')"
                field="people"
                label="People">
              <div class="alert alert-danger" role="alert"
                   id="alert-danger-fetch-course-members-failed"
                   ng-if="dc.alertPresent('form', 'fetchMembersFailed')">
                <p>
                  <i class="fa fa-warning"></i>
                  Error looking up course members.
                  Error details: {{ dc.alerts.form.fetchMembersFailed.details }}
                </p>
                <p>
                  <a href="#/people/{{dc.courseInstance.course_instance_id}}"
                     class="alert-link">
                    Go to course people page.
                  </a>
                </p>
              </div>

              <a href="#/people/{{dc.courseInstance.course_instance_id}}">
                <ng-pluralize count="dc.courseInstance.members"
                              when="{'0': 'There are no people in the course.',
                    'one': 'There is one person in the course.',
                    'other': 'There are {} people in the course.'}">
                </ng-pluralize>
              </a>
            </hu-field-label-wrapper>

            <hu-editable-field
                editable="dc.editable"
                is-loading="dc.isDefined(dc.courseInstance.location)"
                form-value="dc.formDisplayData.location"
                model-value="dc.courseInstance.location"
                maxlength="500"
                field="location"
                label="Location"></hu-editable-field>

            <hu-editable-field
                editable="dc.editable"
                is-loading="dc.isDefined(dc.courseInstance.meeting_time)"
                form-value="dc.formDisplayData.meeting_time"
                model-value="dc.courseInstance.meeting_time"
                maxlength="1000"
                field="meeting_time"
                label="Meeting time"></hu-editable-field>

            <hu-field-label-wrapper
                is-loading="dc.isDefined(dc.courseInstance.departments)"
                field="departments"
                label="Departments">
              <div class="row" ng-repeat="dept in dc.courseInstance.departments">
                <div class="col-md-12"> {{dept.name}} </div>
              </div>
            </hu-field-label-wrapper>

            <hu-field-label-wrapper
                is-loading="dc.isDefined(dc.courseInstance.course_groups)"
                field="course_groups"
                label="Course Groups">
              <div class="row" ng-repeat="group in dc.courseInstance.course_groups">
                <div class="col-md-12"> {{group.name}} </div>
              </div>
            </hu-field-label-wrapper>

            <hu-field-label-wrapper
                is-loading="dc.isDefined(dc.courseInstance.sites)"
                field="sites"
                label="Associated Official and Unofficial Site(s)">
                <div class="row" ng-repeat="site in dc.courseInstance.sites">
                  <div class="col-md-1">
                    <span class="label label-primary" ng-if="site.map_type == 'official'">Official</span>
                    <span class="label label-primary" ng-if="site.map_type == 'unofficial'">Unofficial</span>
                  </div>
                  <div class="col-md-11">
                    <a href="{{site.course_site_url}}" target="_blank">{{site.course_site_url}}</a>
                  </div>
                </div>
            </hu-field-label-wrapper>

            <hu-editable-field
                is-loading="dc.isDefined(dc.courseInstance.conclude_date)"
                form-value="dc.formDisplayData.conclude_date"
                model-value="dc.courseInstance.conclude_date"
                field="conclude_date"
                label="Conclusion Date"></hu-editable-field>

        </ul>

        <div class="form-group" ng-show="dc.editable">
          <div class="col-md-12">
            <a type="link" class="btn btn-default"
               ng-disabled="dc.courseDetailsUpdateInProgress || dc.courseInstance == null"
               ng-click="dc.resetFormFromUI()">
              Reset
            </a>
            <button id="course-details-form-submit" type="submit"
                    class="btn btn-primary pull-right"
                    ng-disabled="dc.courseDetailsUpdateInProgress || dc.courseInstance == null">
              <span ng-switch="dc.courseDetailsUpdateInProgress">
                <span ng-switch-when="false">
                  Submit
                </span>
                <span ng-switch-when="true">
                  <i class="fa fa-refresh fa-spin"></i> Updating Course...
                </span>
              </span>
            </button>
          </div>
        </div>

      </form>
</main>

{% endverbatim %}
