<uib-tabset active="activeTabIndex" class="nav-tabset">
  <uib-tab index="0" heading="Course Details" select="goTo('details')" id="course-details-tab-id"></uib-tab>
  <uib-tab index="1" select="goTo('people')" id="course-details-people-tab-id">
    <uib-tab-heading ng-bind-html="getPeopleHeading()"></uib-tab-heading>
  </uib-tab>
  <uib-tab index="2" select="goTo('sites')" id="course-details-sites-tab-id">
    <uib-tab-heading ng-bind-html="getSitesHeading()"></uib-tab-heading>
  </uib-tab>
</uib-tabset>
