{% verbatim %}
<div class="form-group">
    <label for="input-course-{{field}}" class="col-sm-2">
      {{label}}
    </label>
    <div class="col-sm-4">
        <span ng-show="isLoading()"><i class="fa fa-refresh fa-spin"></i></span>
        <div ng-hide="isLoading()">
            <div class="input-group" ng-show="editable">
                <input type="text" class="form-control" id="input-course-{{field}}"
                    name="input-course-{{field}}"
                    ng-model="formValue"/>
                <span class="input-group-addon">
                    <i class="fa fa-calendar"/>
                </span>
            </div>
            <span id="span-course-{{field}}" ng-hide="editable">
                {{modelValue}}
            </span>
        </div>
    </div>
</div>
{% endverbatim %}
