{% verbatim %}
<li class="list-group-item">
  <div class="form-group">
    <label for="input-course-{{field}}" class="col-md-2">
      {{label}}
    </label>
    <div class="col-md-10">
      <span ng-show="isLoading()"><i class="fa fa-refresh fa-spin"></i></span>
      <div ng-hide="isLoading()">
        <input type="text" class="form-control" id="input-course-{{field}}"
               name="input-course-{{field}}" ng-show="editable"
               ng-model="formValue" maxlength="{{maxlength}}"/>
        <span id="span-course-{{field}}"
              ng-hide="editable">{{modelValue}}</span>
      </div>
    </div>
  </div>
</li>
{% endverbatim %}
