{% verbatim %}
<nav>
  <h3 class="breadcrumbs">
    {% endverbatim %}
    <a href="{% url 'dashboard_account' %}">Admin Console</a>
    {% verbatim %}
    <small><i class="fa fa-chevron-right"></i></small>
    <a href="#/">Search Courses</a>
    <small><i class="fa fa-chevron-right"></i></small>
    <span ng-if='!(courseInstance && initialCourseMembersFetched)'>
      Loading course membership for course instance {{courseInstanceId}}...
      <i class="fa fa-refresh fa-spin"></i>
    </span>
    <span ng-if='courseInstance && initialCourseMembersFetched'>
      {{getCourseDescription(courseInstance)}}
    </span>
  </h3>

  <uib-tabset active="activeTabIndex" class="nav-tabset">
    <uib-tab index="0" heading="Details"
             select="switchToRoute('details', courseInstanceId)"></uib-tab>
    <!-- todo: standardize switch logic, remove dependence on controller -->
    <uib-tab index="1" heading="{{ getPeopleTabHeading() }}"></uib-tab>
    <uib-tab index="2" heading="{{ getSitesTabHeading() }}"
             select="switchToRoute('sites', courseInstanceId)"></uib-tab>
  </uib-tabset>
</nav>

<main>
<div ng-if='courseInstance' class="row">
  <div class="col-md-12">
      <div id="courseInfoDT_wrapper" class="dataTables_wrapper form-inline no-footer">
        <table id="courseInfoDT"
               class="display dataTable course-info-table"
               role="grid" aria-describedby="courseInfoDT_info"
               cellspacing="0">
            <thead>
              <th>School&nbsp;&nbsp;</th>
              <th>Title&nbsp;&nbsp;</th>
              <th>Term&nbsp;&nbsp;</th>
              <th>Year&nbsp;&nbsp;</th>
              <th>Associated Site&nbsp;&nbsp;</th>
              <th>Course Code&nbsp;&nbsp;</th>
              <th>SIS ID&nbsp;&nbsp;</th>
              <th>Crosslisting Status&nbsp;&nbsp;</th>
            </thead>
            <tbody>
                <tr role="row" class="odd">
                  <td class="sorting" tabindex="0">{{courseInstance.school}}</td>
                  <td class="sorting" tabindex="0">{{getCourseDescription(courseInstance)}}</td>
                  <td class="sorting" tabindex="0">{{courseInstance.term}}</td>
                  <td class="sorting" tabindex="0">{{courseInstance.year}}</td>
                  <td class="sorting" tabindex="0">{{courseInstance.sites}}</td>
                  <td class="sorting" tabindex="0">{{courseInstance.registrar_code_display }}</td>
                  <td class="sorting" tabindex="0">{{courseInstance.course_instance_id}}</td>
                  <td class="sorting" tabindex="0">{{courseInstance.xlist_status}}</td>
                </tr>
            </tbody>
        </table>
      </div>
  </div>
</div>

<div ng-if='courseInstance && initialCourseMembersFetched' class="row add-top-margin">
  <!-- begin add people interface -->
  <!-- begin add person expand-o-widget -->
  <div class="col-md-12" id="people">
    <button id="addPeopleBtn" class="btn btn-primary" type="button"
            data-toggle="collapse" data-target="#add-people-dialog"
            aria-expanded="false" aria-controls="add-people-dialog">
       Add People <span class="caret"></span>
    </button>
    <div class="well collapse form-horizontal" id="add-people-dialog">
      <div class="form-group">
        <div class="col-xs-12">
          <label class="sr-only" for="emailHUID">
            Enter Harvard University ID or email address
          </label>
          {% endverbatim %}
          {# Using $parent in <textarea> due to it being a child of the ng-if #}
          {# on the <div> above. See http://stackoverflow.com/a/27040860. #}
          {# (Punting on the controller-as approach in that SO answer) #}
          {% verbatim %}
          <textarea ng-model="$parent.searchTerms" ng-disabled="operationInProgress"
                    class="form-control" id="emailHUID"
                    placeholder="Enter Harvard University IDs or email addresses separated by commas or on separate lines">
          </textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-8">
          <button id="select-role-btn-id"
                  type="button"
                  class="btn btn-primary dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ng-disabled="disableAddToCourseButton()"
                  ng-bind-html="selectedRole.roleName + ' <span class=\'caret\'></span>'">
          </button>
          <ul class="dropdown-menu" role="menu"
              aria-labelledby="select-role-btn-id">
            <li ng-repeat="role in roles">
              <a ng-click="selectRole(role)">
                {{ role.roleName }}
              </a>
            </li>
          </ul>
        </div>

        <div class="col-xs-4">
          <button id="add-user-btn"
             class="btn btn-primary pull-right"
             type="button"
             ng-click="confirmAddPeopleToCourse(searchTerms)"
             ng-disabled="disableAddToCourseButton()">
            <i class="fa fa-plus-circle"></i> Add to Course
          </button>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-8" id="directoryLink">
          <a href="https://connections.harvard.edu" target="_blank">
            Go to the Harvard Directory
          </a>
          to find someone's official email address.
        </div>

        <div class="col-xs-4">
          <button type="button" class="btn btn-default dropdown-toggle pull-right"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-info-circle"></i>
            Privacy Disclaimer
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right" id="privacyDropdown">
            <li>
              The University has a legal responsibility to protect the privacy
              of students and the confidentiality of student records. Adding a
              member to the teaching staff of this course will allow them to
              view both "directory information" (i.e. student's name) and
              "non-directory information" (i.e. student's Harvard University
              ID#) for the students included in this course. The course list
              may include students who have asked that we not release any
              information about them, including the fact that they attend
              classes at Harvard. By adding a person to the teaching staff you
              are granting them access to view this information; others are
              not permitted to view these records. For these reasons, all
              members of the teaching staff should be reminded to keep this
              information confidential. If you have any questions, please
              contact the Office of the Registrar.
            </li>
          </ul>
        </div>
      </div>

      <div ng-if="operationInProgress" class="form-group">
        <div class="col-xs-8 col-xs-offset-2"
             id="progressBarOuterWrapper">
          <uib-progressbar type="success" value="100"
                           class="progress-striped active">
            <i> {{ messages.progress }} </i>
          </uib-progressbar>
        </div>
      </div>
    </div>
  </div>
  <!-- end add person expand-o-widget -->
</div>

<div ng-if="messages.success" class="row add-top-margin">
  <div class="col-xs-12">
    <div class="panel panel-default" id="alert-pane-success">
      <div class="panel-body" id="alert-pane-success-body">

        <!-- begin success alerts -->
        <uib-alert ng-if="messages.success" type="{{messages.success.alertType}}"
                   id="alert-success">
          <span ng-if="messages.success.type == 'add'">
            <ng-pluralize count="tracking.successes"
                          when="{'0': 'No people were added to the course.',
                                 'one': '1 person was added to the course.',
                                 'other': '{} people were added to the course.'}">
            </ng-pluralize>
            <ng-pluralize count="tracking.totalFailures"
                          when="{'0': '',
                                 'one': '1 person could not be added.',
                                 'other': '{} people could not be added.'}">
            </ng-pluralize>
          </span>
          <span ng-if="messages.success.type == 'remove'">
            <p><strong>{{ messages.success.searchTerm }}</strong>,
              <badge role="{{ getProfileRoleTypeCd(messages.success.profile) }}"></badge>
              {{ messages.success.user_id }}, 
              <strong>({{ messages.success.role.role_name }})</strong>
              was successfully removed from this course.
            </p>

          </span>

        </uib-alert>
        <!-- end success alerts -->

        <div ng-if="warningsToDisplay()" id="table-failure-details">
          <table datatable="ng"  dt-options="dtOptionsWarning" class="table table-striped dataTable">
            <thead>
              <th>Search Term</th>
              <th>Name</th>
              <th>Result</th>
            </thead>
            <tbody>
              <tr ng-repeat="m in messages.warnings track by $index">
                <td>{{ m.searchTerm }}</td>
                <td>{{ m.name || 'N/A' }}</td>
                <td>
                  <span ng-switch="m.type">
                    <span ng-switch-when="alreadyInCourse">
                      User already in the course.
                    </span>
                    <!-- search term didn't find a user -->
                    <span ng-switch-when="notFound">
                      User not found.
                    </span>
                    <!-- search term found multiple IDs -->
                    <span ng-switch-when="multipleProfiles">
                      There are {{ m.profiles.length }} IDs for this user:
                      <span ng-repeat="p in m.profiles track by $index">
                        {{ p.univ_id }},
                      </span>
                      please submit one.
                      <span uib-tooltip="Multiple user records were found for this ID. Please search for this ID separately to pick a specific record to add to the course."><i class="fa fa-info-circle"></i></span>
                    </span>
                    <!-- partial failure (when adding to Canvas via API) -->
                    <span ng-switch-when="partialFailure">
                      User was added to course but may not yet be shown in Canvas.
                      <span uib-tooltip="The user was added to the course in Harvard's database but could not be added to Canvas, possibly because the user does not exist yet in Canvas. The user may be automatically synced to the Canvas course at a later time, or may require manual intervention to enroll in the Canvas course."><i class="fa fa-info-circle"></i></span>
                    </span>
                    <!-- addFailed server error or other unknown error
                         when attempting to add the user -->
                    <span ng-switch-default>
                      Server Error. User could not be added
                      to the course at this time.
                    </span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="removeFailure" class="row add-top-margin">
  <div class="col-xs-12">
    <!-- begin remove failure warning alerts -->
    <uib-alert type="warning" close="closeAlert('removeFailure')">
      <div ng-switch="removeFailure.type">
        <div ng-switch-when="noSuchUser">
          <strong>{{ getProfileFullName(removeFailure.profile) || removeFailure.user_id }}</strong>
          has already been removed from this course.
        </div>
        <div ng-switch-when="noSuchCourse">
          <strong>{{ getProfileFullName(removeFailure.profile) || removeFailure.user_id }}</strong>
          cannot be removed from this course because it no longer exists.
        </div>
        <div ng-switch-when="serverError">
          There was a problem removing
          <strong>{{ getProfileFullName(removeFailure.profile) || removeFailure.user_id }}</strong>
          from the database. Please try again.
        </div>
        <div ng-switch-when="canvasError">
          There was a problem removing
          <strong>{{ getProfileFullName(removeFailure.profile) || removeFailure.user_id }}</strong>
          from the Canvas site. Please try again.
        </div>
        <div ng-switch-default>
          There was a problem removing
          <strong>{{ getProfileFullName(removeFailure.profile) || removeFailure.user_id }}</strong>.
          Please try again.
        </div>
      </div>
      <div class="course-membership-entry">
        {{ getProfileFullName(removeFailure.profile) }}
        <badge role="{{ getProfileRoleTypeCd(removeFailure.profile) }}">
        </badge> {{ removeFailure.user_id }}
        <strong>Enrolled as {{ removeFailure.role.role_name }}</strong>
      </div>
    </uib-alert>
    <!-- end remove failure warning alerts -->
  </div>
</div>
<!-- end alert pane -->

<div class="row add-top-margin">
  <!-- end add people interface -->
  <div class="col-md-12">
    <!-- begin course membership interface -->
    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns"
           dt-instance="dtInstance" class="table table-striped table-hover">
    </table>
    <!-- end course membership interface -->
  </div>
</div>
</main>

{% endverbatim %}
