{% verbatim %}
<div class="modal-header">
	<button type="button" class="close" ng-click="$dismiss('cancel')"
          id="removeXlistMapModalClose">
    &times;
  </button>
	<h4 class="modal-title">Confirm De-cross-listing</h4>
</div>
<div class="modal-body">
  <p>
    Are you sure you want to de-cross-list {{ primary }} (primary)
    and {{ secondary }} (secondary)?
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left"
          id="removeXlistMapModalCancel" ng-click="$dismiss('cancel')">
    Cancel
  </button>
  <button type="button" class="btn btn-primary" ng-click="confirm()"
          id="removeXlistMapModalConfirm">
    Yes, De-cross-list
    <span ng-if="operationInProgress == 'remove'">
      <i class="fa fa-refresh fa-spin"></i>
    </span>
  </button>
</div>
{% endverbatim %}
