{% extends "course_conclusion/base.html" %}
{% load static %}

{% block page_title %}Course Conclusion Dates{% endblock page_title %}

{% block bodytag %}
<body class="with-navbar" ng-app="courseConclusionApp">
{% endblock bodytag %}

{% block content %}
{% verbatim form %}
<form novalidate class="form-horizontal" name="courseConcludeForm"
      ng-controller="CourseConclusionController as courseCtrl"
      ng-submit="courseCtrl.submit(courseConcludeForm)">

  <div class="col-sm-offset-2 col-sm-10">
    <alert ng-repeat="alert in courseCtrl.alerts" type="{{alert.type}}"
           close="courseCtrl.closeAlert($index)">
      {{alert.msg}}
    </alert>
  </div>

  <div class="form-group">
    <label for="school" class="col-sm-2 control-label">School</label>
    <div class="col-sm-10">
      <select class="form-control" name="school" required
              ng-options="school.title_short for school in courseCtrl.schools"
              ng-model="courseCtrl.currentSchool"
              ng-change="courseCtrl.getTerms();courseCtrl.getConcludedCourses()"
              ng-disabled="courseCtrl.schools.length === 0">
        <option ng-show="courseCtrl.hasMultipleSchools()" value="">-- Choose A School --</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="term" class="col-sm-2 control-label">Term</label>
    <div class="col-sm-10">
      <select class="form-control" name="term" required
              ng-options="term.display_name for term in courseCtrl.terms"
              ng-model="courseCtrl.currentTerm"
              ng-change="courseCtrl.getCourses();courseCtrl.getConcludedCoursesBySchoolTerm()"
              ng-disabled="courseCtrl.terms.length === 0">
        <option value="">-- Choose A Term --</option>
      </select>
    </div>
    <div class="col-sm-10 col-sm-offset-2 text-muted"
         ng-show="courseCtrl.currentTerm.conclude_date">
      Term conclude date is {{ courseCtrl.currentTerm.conclude_date }}
    </div>
  </div>

  <div class="form-group">
    <label for="course" class="col-sm-2 control-label">Course</label>
    <div class="col-sm-10">
      <select class="form-control" name="course" required
              ng-options="course.course_instance_id + ' - ' + (course.title || 'No title') for (course_instance_id, course) in courseCtrl.courses"
              ng-model="courseCtrl.currentCourse"
              ng-disabled="courseCtrl.courses.length === 0"
              ng-change="courseCtrl.currentConcludeDate = courseCtrl.currentCourse.conclude_date">
        <option value="">-- Choose A Course --</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="course-conclusion-date" class="col-sm-2 control-label">
      Course Conclude Date
    </label>
    <div class="col-sm-2">
      <div class="input-group">
          <input type="text" class="dateinput form-control"
                 name="courseConcludeDate" placeholder="YYYY-MM-DD"
                 data-provide="datepicker" data-date-format="yyyy-mm-dd"
                 ng-model="courseCtrl.currentConcludeDate"
                 ng-disabled="!courseCtrl.currentCourse"
                 ng-required="false" pattern="^\d{4}-\d{2}-\d{2}$">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"
                    data-provide="datepicker" data-date-format="yyyy-mm-dd"
                    ng-model="courseCtrl.currentConcludeDate"
                    ng-disabled="!courseCtrl.currentCourse"
                    ng-required="false" pattern="^\d{4}-\d{2}-\d{2}$">
                <i class="fa fa-calendar"></i></button>
          </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <input type="submit" class="btn btn-default" value="Save"
             ng-disabled="courseConcludeForm.$invalid"/>
      <input type="button" class="btn btn-default" value="Reset"
             ng-click="courseCtrl.reset(courseConcludeForm)" />
    </div>

    <div class="col-sm-4" ng-show="courseCtrl.hasMultipleSchools() && courseCtrl.currentSchool">
    <input type="text" class="form-control" id="course-conclusion-date"
        name="courseConcludeDate" placeholder="Search Course"
        ng-disabled="!courseCtrl.concluded_courses"
        ng-required="false" ng-model="searchCourse">
    </div>

  </div>

  <div class="col-sm-offset-2 col-sm-10 text-muted" ng-show="courseCtrl.hasMultipleSchools() && !courseCtrl.currentSchool">
    Please select a school from the list above to view the concluded courses for the selected school.
  </div>

  <div class="form-group">
    <label for="course-conclusion-date" class="col-sm-2 control-label">
      Course Conclusion Dates
    </label>
    <div class="col-sm-10">

        <table class="table table-bordered table-condensed table-striped table-responsive" width="100%">
            <tr>
                <th class="thead">SIS ID</th>
                <th class="thead">Course</th>
                <th class="thead">Course Conclusion Date</th>
            </tr>
            <tr ng-repeat="c in courseCtrl.concluded_courses|filter:searchCourse">
                <td class="tbody">{{c.course_instance_id }}</td>
                <td class="tbody">{{c.title }}</td>
                <td class="tbody">{{c.conclude_date }}</td>
            </tr>
        </table>
    </div>
  </div>

{% endverbatim form %} <!-- end inside the form so we can get the csrf token -->
  {% csrf_token %}
</form>
{% endblock content %}

{% block javascript %}
{{ block.super }}
{% if debug %}
<script src="{% static "angular-1.4.0/angular.js" %}"></script>
<script src="{% static "js/ui-bootstrap-tpls-0.13.0.js" %}"></script>
{% else %}
<script src="{% static "angular-1.4.0/angular.min.js" %}"></script>
<script src="{% static "js/ui-bootstrap-tpls-0.13.0.min.js" %}"></script>
{% endif %}
<script>
COURSE_CONCLUSION_API_URL = "{% url 'cc:index' %}api/"
</script>
<script src="{% static "course_conclusion/index.js" %}"></script>
{% endblock javascript %}
