{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}page title{% endblock %}</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% get_static_prefix %}bootstrap-3.0.0/css/bootstrap.css" rel="stylesheet" media="screen">

  <link href="{% get_static_prefix %}bootstrap-datepicker/css/datepicker.css" rel="stylesheet" media="screen">

  <link href="{% get_static_prefix %}font-awesome-3.2.1/css/font-awesome.css" rel="stylesheet" media="screen">
  <link href="{% get_static_prefix %}favicon.ico" rel="icon" type="image/x-icon">
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">iCommons | <b>Term Tool</b></a>
        
        <ul class="nav navbar-nav navbar-right">
        {% if user.username %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-user"></i> {{ user.email }}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ PIN_LOGOUT_URL }}"><i class="icon-signout"></i> sign out</a></li>
            </ul>
          </li>
        {% endif %}
        </ul>



      </div>
    </div>	
  </nav>
  <div class="container">
    {% block breadcrumb %}{% endblock %}
  </div>

	<div class="container">
		{% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {% if message.tags == 'success' %}
            <i class="icon-ok icon-large"></i>
          {% endif %}
          {{ message }}
        </div>
      {% endfor %}

		{% endif %}

		<div class="well">
			<h1>{% block pagetitle %}{% endblock %}</h1>
			{% block content %}{% endblock %}
		</div>

	</div>


	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<script src="{% get_static_prefix %}bootstrap-3.0.0/js/bootstrap.min.js"></script>
	<script src="{% get_static_prefix %}bootstrap-datepicker/js/bootstrap-datepicker.js"></script>


	<script>
    	$('.dateinput').datepicker( {format:'yyyy-mm-dd ', autoclose:true} )
	</script>

  {% block pagescripts %}{% endblock %}
</body>
</html>

<!-- page header -->

