{% extends "term_tool/base.html" %}


{% block content %}

{% if form.errors %}
<div class="alert alert-error">
Your username and password didn't match. Please try again.
</div>
{% endif %}

<form class="form-signin" method="post" action="{% url tt:login %}">
{% csrf_token %}
<h2 class="form-signin-heading">Please sign in</h2>

<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" class="btn btn-large btn-primary" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}