{% extends "term_tool/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}Choose a School{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
	<li class="active"><a href="#">Schools</a></li>
</ul>
{% endblock %}


{% block content %}
{% if school_list %}
<div class="page-header">
    <h1>Choose a school</h1>
</div>

<table class="table">
	{% for school in school_list %}
		<tr><td>{{ school.school_id|upper }}</td><td><a href="{% url "tt:termlist" school_id=school.school_id %}"> {{ school.title_short }}</a></td></tr>
	{% endfor %}
</table>

{% endif %}


{% endblock %}
