{% extends "term_tool/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Edit Term {{ term.term_id }}{% endblock %}

{% block pagetitle %}Edit Term {{ term.term_id }}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{% url "tt:schoollist" %}">Schools</a> <span class="divider">/</span></li>
    <li><a href="{% url "tt:termlist" school_id=object.school_id%}">{{ object.school_id|upper }} Terms</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit Term {{ term.term_id }}</a></li>
</ul>
{% endblock %}

{% block content %}

<h3>{{ term.school_id|upper }} / Academic year {{ term.academic_year }} / Term code {{ term.term_code.term_code }} ({{ term.term_code }})
</h3>

{% crispy form %}

<p>
    * required
</p>

{% endblock %}

{% block pagescripts %}
<script>
    $(document).ready(function(){

        $('#button-id-cancel').click(function(){
            parent.history.back();
            return false;
        });

        if ( $('#id_school').val() != 'colgsas' ) {
            $('#div_id_shopping_active').hide();
            $('#div_id_shopping_end_date').hide();
            $('#id_user_id').val('{{USERID}}');
        }
    });
</script>
{% endblock %}