{% extends "term_tool/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}Create New {{ school.school_id|upper }} Term{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{% url "tt:schoollist" %}">Schools</a></li>
    <li><a href="{% url "tt:termlist" school_id=school.school_id%}">{{ school.school_id|upper }} Terms</a></li>
    <li class="active"><a href="#">New Term</a></li>
</ul>
{% endblock %}


{% block content %}

{% crispy form %}

<p>
    * required
</p>

{% endblock content %}

{% block javascript %}
{{ block.super }}
<script>
    $(document).ready(function(){
        if ( $('#id_school').val() != 'colgsas' ) {
            $('#div_id_shopping_active').hide();
            $('#div_id_shopping_end_date').hide();
            $('#id_user_id').val('{{USERID}}');
        }
        
        if ( $('#id_school').val() != 'ext' && $('#id_school').val() != 'sum') {
            var xreg_start = $('#div_id_xreg_start_date label').html().trim();
            var xreg_end = $('#div_id_xreg_end_date label').html().trim();
            xreg_start += '*';
            xreg_end += '*';
            $('#div_id_xreg_start_date label').html(xreg_start);
            $('#div_id_xreg_end_date label').html(xreg_end);
        }

        $('.dateinput').datepicker({format: 'yyyy-mm-dd'})

    });
</script>
{% endblock javascript %}