{% extends "term_tool/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}Edit Term {{ term.term_id }}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{% url "tt:schoollist" %}">Schools</a></li>
    <li><a href="{% url "tt:termlist" school_id=object.school_id%}">{{ object.school_id|upper }} Terms</a></li>
    <li class="active"><a href="#">Edit Term {{ term.term_id }}</a></li>
</ul>
{% endblock %}

{% block content %}

<h3>{{ term.school_id|upper }} / Academic year {{ term.academic_year }} / Term code {{ term.term_code.term_code }} ({{ term.term_code }})
</h3>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><a class="btn btn-default" href="{{ bulk_create_url }}">Open Bulk Create Page for Term</a></div>
  <div class="col-md-4"></div>
</div>
<br />

{% crispy form %}

<p>
    * required
</p>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
    $(document).ready(function(){

        $('#button-id-cancel').click(function(){
            parent.history.back();
            return false;
        });

        if ( $('#id_school').val() != 'ext' && $('#id_school').val() != 'sum') {
            var xreg_start = $('#div_id_xreg_start_date label').html().trim();
            var xreg_end = $('#div_id_xreg_end_date label').html().trim();
            xreg_start += '*';
            xreg_end += '*';
            $('#div_id_xreg_start_date label').html(xreg_start);
            $('#div_id_xreg_end_date label').html(xreg_end);
        }

        $('.dateinput').datepicker({format: 'yyyy-mm-dd'})
    });
</script>
{% endblock %}