{% extends 'bulk_course_settings/base.html' %}

{% load static %}
{% load collections %}
{% load django_helpers %}
{% load i18n staticfiles %}



{% block js %}
    <script>
{#        window.globals.STATIC_URL = '{% settings_value "STATIC_URL" %}';#}
    </script>

    <script>
		$(document).ready(function() {
			$('.datatable').dataTable( {
				aaSorting: [[0, 'asc']],
				"aoColumnDefs": [ {
					'bSortable': false,
					'aTargets': [3] } ],
				"oLanguage": {
                  "sSearch": "Search"
                }
			});
		});
	</script>
{% endblock js %}

{% block body %}
<body role="application">

    <div class="container">
        <header>
            <h3 class="breadcrumbs">
                <a href="{% url 'dashboard_account' %}">Admin Console</a>
                <small><i class="fa fa-chevron-right"></i></small>
                Manage Bulk Course Settings
            </h3>
        </header>
        <div class="row">
            <h4>Set Bulk Course settings </h4>

            <div align="right">

            <a href="{% url 'bulk_course_settings:create_new_setting' %}" class="btn btn-primary">Create New Setting</a>



            </div>
        </div>
        <div class="row"><h4>Audit Log:</h4> <div>

        <table class="datatable table table-striped table-bordered">
            <thead>
                <th>Job ID</th>
                <th>Term</th>
                <th>Setting Modified</th>
                <th>Desired Setting</th>
                <th>Status</th>
            </thead>
            <tbody>
            {% for item  in bulk_settings_list %}
                <tr>
                    <td><a href="{% url 'bulk_course_settings:bulk_settings_job_audit' parent_job_process_id=item.id %}"> {{ item.id }} </a> </td>
                    <td>{{ item.get_term_name }}</td>
                    <td>{{ item.get_setting_to_be_modified_display }}</td>

                    <td>
                        {% if item.related_job_id is None %}
                            {{ item.get_desired_setting_display }}
                        {% else %}
                            Reversion
                        {% endif %}
                    </td>
                    <td>{{ item.get_workflow_status_display }}</td>
                    <td>
                        {% if item.related_job_id is None %}
                            <a href="{% url 'bulk_course_settings:revert_setting' item.school_id item.id %}" class="btn btn-primary">Revert Setting</a>
                        {% else %}
                            <a href="{% url 'bulk_course_settings:revert_setting' item.school_id item.id %}" class="btn btn-primary disabled">Revert Setting</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</body>
{% endblock body %}
