{% extends 'bulk_course_settings/base.html' %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('#details_table').dataTable( {
                aaSorting: [[0, 'desc']],
                "oLanguage": {
                    "sSearch": "Search"
                }
            });
        });
    </script>
{% endblock js %}

{% block body %}
<body role="application">
    <div class="container">
        <header>
            <h3 class="breadcrumbs">
                <a href="{% url 'dashboard_account' %}">Admin Console</a>
                <small><i class="fa fa-chevron-right"></i></small>
                Manage Bulk Course Settings
            </h3>
        </header>
        Job: {{ job.id }}
        <div class="row">
            <div class="col-sm-5">
                <table class="datatable">
                    <tr><td>Setting: </td><td>{{ job.setting_to_be_modified }}</td></tr>
                    <tr><td>Term: </td><td>{{ job.get_term_name }}</td></tr>
                    <tr><td>Target Value: </td><td>{{ job.desired_setting }}</td></tr>
                    <tr><td>Created at: </td><td>{{ job.created_at }}</td></tr>
                    <tr><td>Created by: </td><td>{{ job.created_by  }}</td></tr>
                    <tr><td>Status: </td><td>{{ job.workflow_status }}</td></tr>
                </table>
            </div>
            <div class="col-sm-5">
                <table class="datatable">
                    <tr><td>Total: </td><td>{{ job.details_total_count}}</td></tr>
                    <tr><td>Success: </td><td>{{ job.details_success_count }}</td></tr>
                    <tr><td>Failure: </td><td>{{ job.details_failed_count }}</td></tr>
                    <tr><td>Skipped: </td><td>{{ job.details_skipped_count }}</td></tr>
                </table>
            </div>
            <div class="col-sm-2">
                {% if job.related_job_id is None and job.details_success_count %}
                    <a href="{% url 'bulk_course_settings:revert_setting' job.school_id job.id %}" class="btn btn-primary">Revert Setting</a>
                {% else %}
                    <a class="btn btn-primary disabled">Revert Setting</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="datatable table table-striped table-bordered" id="details_table">
                    <thead>
                        <th>Detail ID</th>
                        <th>Canvas Course ID</th>
                        <th>Status</th>
                        <th>Prior Value</th>
                    </thead>
                    <tbody>
                    {% for detail in job.details.all %}
                        <tr>
                            <td>{{ detail.id }}</td>
                            <td>{{ detail.canvas_course_id }}</td>
                            <td>{{ detail.workflow_status }}</td>
                            <td>{{ detail.current_setting_value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock body %}