{% extends 'bulk_course_settings/base.html' %}

{% load static %}
{% load collections %}
{% load django_helpers %}
{% load i18n staticfiles %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('#details_table').dataTable( {
                aaSorting: [[0, 'asc']],
                "aoColumnDefs": [ {
                    'bSortable': false,
                    'aTargets': [4] } ],
                "oLanguage": {
                    "sSearch": "Search"
                }
            });
        });
    </script>
{% endblock js %}

{% block body %}
<body role="application">
    <div class="container">
        <header>
            <h3 class="breadcrumbs">
                <a href="{% url 'dashboard_account' %}">Admin Console</a>
                <small><i class="fa fa-chevron-right"></i></small>
                Manage Bulk Course Settings
            </h3>
        </header>
        Parent Job: {{ parent_job.id }}
        <div class="row">
            <div class="col-sm-5">
                <table class="datatable">
                    <tr><td>Setting: </td><td>{{ parent_job.setting_to_be_modified }}</td></tr>
                    <tr><td>Term: </td><td>{{ parent_job.get_term_name }}</td></tr>
                    <tr><td>Target Value: </td><td>{{ parent_job.desired_setting }}</td></tr>
                    <tr><td>Created at: </td><td>{{ parent_job.created_at }}</td></tr>
                    <tr><td>Created by: </td><td>{{ parent_job.created_by  }}</td></tr>
                    <tr><td>Status: </td><td>{{ parent_job.workflow_status }}</td></tr>
                </table>
            </div>
            <div class="col-sm-5">
                <table class="datatable">
                    <tr><td>Total: </td><td> #### </td></tr>
                    <tr><td>Success: </td><td> #### </td></tr>
                    <tr><td>Failure: </td><td> #### </td></tr>
                    <tr><td>No Change: </td><td> #### </td></tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="datatable table table-striped table-bordered" id="details_table">
                    <thead>
                        <th>Detail ID</th>
                        <th>Canvas Course ID</th>
                        <th>Status</th>
                        <th>Prior Value</th>
                    </thead>
                    <tbody>
                    {% if job_details %}
                        {% for detail in job_details %}
                            <tr>
                                <td>{{ detail.id }}</td>
                                <td>{{ detail.canvas_course_id }}</td>
                                <td>{{ detail.workflow_status }}</td>
                                <td>{{ detail.current_setting_value }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td>No details were found for the current job.</td></tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock body %}