{% extends 'bulk_course_settings/base.html' %}
{% load collections %}
{% load django_helpers %}
{% load static %}
{% load i18n staticfiles %}
{% block body %}
<body role="application">

<form action="" method="post">{% csrf_token %}

{{ form.as_p }}
<select name="term_id" id="id_term_id" class="form-control">
{% for term  in terms %}
   <option value="{{ term.id }}">{{term.name}}</option>
{% endfor %}
</select>
<input type="submit" class="btn btn-primary" value="Submit" />
</form>


</body>


{% endblock body %}
