{% extends 'bulk_course_settings/base.html' %}
{% load collections %}
{% load django_helpers %}
{% load static %}
{% load i18n staticfiles %}
{% block body %}

<body role="application">

   <form action="" method="post">{% csrf_token %}

      <strong>Setting to change: </strong> {{ form.setting_to_be_modified }}
      <strong>Target value: </strong> {{ form.desired_setting }}

      <strong>Term: </strong>
      <select name="term_id" id="id_term_id" class="form-control">
         {% for term  in terms %}
         <option value="{{ term.id }}">{{term.name}}</option>
         {% endfor %}
      </select>

      <input type='hidden' name="school_id" value="{{ account_sis_id }}" />
      <input type="submit" class="btn btn-primary" value="Submit" />
   </form>

</body>


{% endblock body %}
