{% extends 'bulk_course_settings/base.html' %}

{% block body %}

<body role="application">

    <h2 style="padding-bottom: 2em">Create a new bulk course settings job</h2>

    <form action="" method="post">{% csrf_token %}
        <div class="col-sm-2">
            <strong>Term: </strong>
            <select name="term_id" id="id_term_id" class="form-control">
                {% for term  in terms %}
                    <option value="{{ term.id }}">{{term.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-sm-2">
            <strong>Setting to change: </strong> {{ form.setting_to_be_modified }}
        </div>

        <div class="col-sm-2">
            <strong>Target value: </strong> {{ form.desired_setting }}
        </div>
        <input type="hidden" name="school_id" value="{{ school_id }}" />

        &nbsp;<br/>
        <input type="submit" class="btn btn-primary"value="Submit" />
        <a href="{% url 'bulk_course_settings:job_list' %}" class="btn btn-default">Cancel</a>

    </form>

</body>

{% endblock body %}
