{% extends 'bulk_course_settings/base.html' %}

{% block breadcrumb %}
    <a href="{% url 'dashboard_account' %}">Admin Console</a>
    <small><i class="fa fa-chevron-right"></i></small>
    Bulk Course Settings
{% endblock breadcrumb %}

{% block content %}
    <div class="container-fluid">
        <h4 class="mt-4">
            Bulk Course Settings Jobs:
            <a href="{% url 'bulk_course_settings:job_list' %}" class="btn btn-primary float-end ms-2" role="button"
                aria-pressed="true" aria-label="refresh page" title="Refresh page" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="Refresh page"><i class="fa-solid fa-rotate-right"></i>
            </a>
            <a href="{% url 'bulk_course_settings:create_new_job' %}" class="btn btn-primary" style="float: right;">New Job</a>
        </h4>
        <div class="row" style="margin-top: .25em;">
            <table class="datatable table display no-footer">
                <thead>
                    <th>Job ID</th>
                    <th>Created</th>
                    <th>Term</th>
                    <th>Setting Modified</th>
                    <th>Desired Setting</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Updated</th>
                    <th>Skipped</th>
                    <th>Failed</th>
                </thead>
                <tbody>
                {% for job in jobs %}
                    <tr>
                        <td><a href="{% url 'bulk_course_settings:job_detail' job_id=job.id %}"> {{ job.id }} </a> </td>
                        <td>{{ job.created_at }}</td>
                        <td>{{ job.get_term_name }}</td>
                        <td>{{ job.get_setting_to_be_modified_display }}</td>
                        <td>
                            {% if job.related_job_id is None %}
                                {{ job.get_desired_setting_display }}
                            {% else %}
                                <a href="{% url 'bulk_course_settings:job_detail' job_id=job.related_job_id %}"> <i>reversion of job {{ job.related_job_id }}</i> </a>
                            {% endif %}
                        </td>
                        <td>{{ job.get_workflow_status_display }}</td>
                        <td>{{ job.details_total_count}}</td>
                        <td>{{ job.details_success_count }}</td>
                        <td>{{ job.details_skipped_count }}</td>
                        <td>{{ job.details_failed_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script>
		$(document).ready(function() {
			$('.datatable').dataTable( {
				aaSorting: [[0, 'desc']],
				"aoColumnDefs": [ {
					'bSortable': false,
					'aTargets': [3] } ],
				"oLanguage": {
                  "sSearch": "Search"
                }
			});

      $('[data-toggle="tooltip"]').tooltip();

		});
	</script>
{% endblock javascript %}
