{# todo: fix styles, or move a customizable template into icommons_common #}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div id="unauthorized_holder">
      <div id="unauthorized_message" class="">
        <h2 class="ui-state-error">
          <i class="fa fa-warning error-icon"></i>
          Not available
        </h2>
        <div class="ui-error-msg">
          <p>
            You do not currently have access to any of the tools available in
            Admin Console. If you think you should have access, please use the
            ‘Help’ link in the bottom left corner of the screen to contact
            Canvas support from Harvard.
        </div>
      </div>
    </div>
  </div>
</div>
