{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Admin Console</title>

        <link href="https://static.tlt.harvard.edu/shared/bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://static.tlt.harvard.edu/shared/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
        {% block stylesheets %}{% endblock stylesheets %}
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>

        <script src="https://static.tlt.harvard.edu/shared/jquery-2.2.2/jquery-2.2.2.min.js"></script>
        <script src="https://static.tlt.harvard.edu/shared/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
        {% block javascript %}{% endblock javascript %}
    </body>
    {# Place build information into a HTML comment to avoid cluttering the page for users #}
    {% if build_info %}
        <!-- BUILD INFO: {{ build_info.image_tag }} | {{ build_info.image_hash_tag }} | {{ build_info.build_timestamp }} -->
    {% endif %}
</html>
