{% extends 'canvas_account_admin_tools/base.html' %}

{% load static %}

{% block stylesheets %}
<link href="{% static 'canvas_account_admin_tools/css/dashboard.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

    <header>
      <nav>
        <h3 class="card-header_padding">Admin Console</h3>
      </nav>
    </header>

    {% if search_courses_allowed %}
      <div class="card card_color">
        <a href="{% url 'course_info:index' %}" id="course-info">
          <div class="card-body">
            <div class="card-header card-header_color5">
            </div>
            <div class="card-content card-content_normal">
              <div class="card-content-width">
                <div class="card-content-icon">
                  <i class="fa fa-search icon-size"></i>
                </div>
                <div class="card-content-data">
                  <h2 class="card-content-title ellipsis" title="Search Courses">
                    <span class="content-link">
                      Search Courses
                    </span>
                  </h2>
                  <p title="Search Courses">
                    Find courses in order to add people or edit course details
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endif %}

    {% if course_info_v2_allowed %}
      <div class="card card_color">
        <a href="{% url 'course_info_v2:index' %}" id="course-info-v2">
          <div class="card-body">
            <div class="card-header card-header_color5">
            </div>
            <div class="card-content card-content_normal">
              <div class="card-content-width">
                <div class="card-content-icon">
                  <i class="fa fa-search icon-size"></i>
                </div>
                <div class="card-content-data">
                  <h2 class="card-content-title ellipsis" title="Course Info v2">
                    <span class="content-link">
                      Course Info v2
                    </span>
                  </h2>
                  <p title="Course Info v2">
                    Find courses in order to add people or edit course details
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endif %}

    {% if people_tool_allowed %}
        <div class="card card_color">
          <a href="{% url 'people_tool:index' %}" id="course-roster">
            <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-users icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Search People">
                      <span class="content-link">
                        Search People
                      </span>
                    </h2>
                    <p title="Search People">Find users by name, HUID, XID or e-mail address</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}

    {% if cross_listing_allowed %}
        <div class="card card_color">
          <a href="{% url 'cross_list_courses:index' %}" id="manage-cross-listings">
            <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-link icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Cross-list Courses">
                      <span class="content-link">
                        Cross-list Courses
                      </span>
                    </h2>
                    <p title="Cross-list Courses">Set up and modify cross-listings</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}

    {% if publish_courses_allowed %}
        <div class="card card_color">
          <a href="{% url 'publish_courses:index' %}" id="publish_courses">
              <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-cloud icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Publish Courses">
                      <span class="content-link">
                        Publish Courses
                      </span>
                    </h2>
                    <p title="Publish Courses">Publish multiple Canvas sites by term</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}

     {% if bulk_course_settings_is_allowed %}
        <div class="card card_color">
            <a href="{% url 'bulk_course_settings:job_list' %}" id="bulk_course_settings">
              <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-files-o icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Bulk Course Settings">
                      <span class="content-link">
                        Bulk Course Settings
                      </span>
                    </h2>
                    <p title="Bulk Course Settings">Change a Canvas setting for multiple courses at once</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}

    {% if canvas_site_deletion_is_allowed %}
        <div class="card card_color">
            <a href="{% url 'canvas_site_deletion:index' %}" id="canvas_site_deletion">
              <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-trash icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Canvas Site Deletion">
                      <span class="content-link">
                        Canvas Site Deletion
                      </span>
                    </h2>
                    <p title="Canvas Site Deletion">Cleanup Canvas Site Data</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}

    {% if masquerade_tool_is_allowed %}
        <div class="card card_color">
            <a href="{% url 'masquerade_tool:index' %}" id="masquerade_tool">
              <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-user-secret icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Masquerade Tool">
                      <span class="content-link">
                        Masquerade Tool
                      </span>
                    </h2>
                    <p title="Masquerade Tool">Request Masquerade Role</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}

    {% if self_enrollment_tool_is_allowed %}
        <div class="card card_color">
            <a href="{% url 'self_enrollment_tool:index' %}" id="self_enrollment_tool">
              <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-user-plus icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Self Enrollment Tool">
                      <span class="content-link">
                        Self Enrollment Tool
                      </span>
                    </h2>
                    <p title="Self Enrollment Tool">Enable Self Enrollment for ILE courses</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}

    {% if site_creator_is_allowed %}
        <div class="card card_color">
            <a href="{% url 'canvas_site_creator:create_new_course' %}" id="canvas-site-creator">
            <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-plus icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Create ILE/SB Sites">
                      <span class="content-link">Create ILE/SB Sites</span>
                    </h2>
                    <p title="Create ILE/SB Sites">Create ILE/SB Canvas Sites</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}

    {% if bulk_site_creator_is_allowed %}
        <div class="card card_color">
            <a href="{% url 'bulk_site_creator:index' %}" id="bulk-canvas-site-creator">
            <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-bars icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Bulk Create Sites">
                      <span class="content-link">Bulk Create Sites</span>
                    </h2>
                    <p title="Bulk Create Sites">Bulk create Canvas sites for registrar fed courses</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}

    {% if bulk_enrollment_tool_is_allowed %}
        <div class="card card_color">
            <a href="{% url 'bulk_enrollment_tool:index' %}" id="bulk_enrollment_tool">
              <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="57" height="57" fill="currentColor" class="bi bi-people icon-size" viewBox="0 0 16 16">
                      <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                    </svg>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Bulk Enrollment Tool">
                      <span class="content-link">
                        Bulk Enrollment Tool
                      </span>
                    </h2>
                    <p title="Bulk Enrolmnet Tool"> Bulk enroll using a CSV file</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}

{% endblock content %}
