{% extends 'canvas_account_admin_tools/base.html' %}

{% load static %}

{% block stylesheets %}
<link href="{% static 'canvas_account_admin_tools/css/dashboard.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

    <header>
      <nav>
        <h3>Admin Console</h3>
      </nav>
    </header>


      {% if canvas_site_creator %}
        <div class="list-group col-md-4">
          <a href="{{ canvas_site_creator }}" class="list-group-item active" target="_parent">
              <h4 class="list-group-item-heading">Canvas Site Creator</h4>
              <p class="list-group-item-text">Create Canvas sites for one or multiple courses</p>
          </a>
        </div>
      {% endif %}

      {% if conclude_courses %}
        <div class="list-group col-md-4">
          <a type="button" class="btn btn-primary list-group-item active" href="{{ conclude_courses }}" class="list-group-item active" target="_blank">
              <h4 class="list-group-item-heading">Conclude Courses</h4>
              <p class="list-group-item-text">Change conclusion dates <br>for a selected course</p>
          </a>
        </div>
      {% endif %}

      {% if lti_tools_usage %}
        <div class="list-group col-md-4">
          <a type="button" class="btn btn-primary list-group-item active" href="{{ lti_tools_usage }}" class="list-group-item active" target="_parent">
              <h4 class="list-group-item-heading">LTI Tools Usage Report</h4>
              <p class="list-group-item-text">See which LTI tools are installed in your account</p>
          </a>
        </div>
      {% endif %}

      {% if courses_in_this_account %}
        <div class="list-group col-md-4">
          <a type="button" class="btn btn-primary list-group-item active" href="{{ courses_in_this_account }}" class="list-group-item active" target="_parent">
              <h4 class="list-group-item-heading">Courses in this Account</h4>
              <p class="list-group-item-text">See information about the courses in your account combined in one view</p>
          </a>
        </div>
      {% endif %}

        <div class="list-group col-md-4">
          <a type="button" class="btn btn-primary list-group-item active" href="{% url 'course_info:index' %}" class="list-group-item active">
              <h4 class="list-group-item-heading">Find Course Info</h4>
              <p class="list-group-item-text">Search for course information <br>&nbsp;</p>
          </a>
        </div>

        <div class="list-group col-md-4">
          <a type="button" class="btn btn-primary list-group-item active" href="{% url 'cross_list_courses:index' %}" class="list-group-item active">
              <h4 class="list-group-item-heading">Cross-list Courses</h4>
              <p class="list-group-item-text">Set up and modify cross-listings <br>&nbsp;</p>
          </a>
        </div>



{% endblock content %}
