{% extends 'canvas_account_admin_tools/base.html' %}

{% load static %}

{% block stylesheets %}
<link href="{% static 'canvas_account_admin_tools/css/dashboard.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

    <header>
      <nav>
        <h3 class="card-header_padding">Admin Console</h3>
      </nav>
    </header>

    <div class="card card_color">
      <a href="{% url 'course_info:index' %}" id="course-roster">
        <div class="card-body">
          <div class="card-header card-header_color5">
          </div>
          <div class="card-content card-content_normal">
            <div class="card-content-width">
              <div class="card-content-icon">
                <i class="fa fa-search icon-size"></i>
              </div>
              <div class="card-content-data">
                <h2 class="card-content-title ellipsis" title="Search Courses">
                  <span class="content-link">
                    Search Courses
                  </span>
                </h2>
                <p title="Search Courses">
                  Find courses in order to add people or edit course details
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    {% if people_tool_allowed %}
        <div class="card card_color">
          <a href="{% url 'people_tool:index' %}" id="course-roster">
            <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-users icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Search People">
                      <span class="content-link">
                        Search People
                      </span>
                    </h2>
                    <p title="Search People">Find users by name, HUID, XID or e-mail address</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}

    {% if site_creator_is_allowed %}
        <div class="card card_color">
            <a href="{% url 'canvas_site_creator:index' %}" id="canvas-site-creator">
            <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-magic icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Create Canvas Sites">
                      <span class="content-link">Create Canvas Sites</span>
                    </h2>
                    <p title="Create Canvas Sites">Create sites for new or existing courses</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}
    {% if cross_listing_allowed %}
        <div class="card card_color">
          <a href="{% url 'cross_list_courses:index' %}" id="manage-cross-listings">
            <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-link icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Cross-list Courses">
                      <span class="content-link">
                        Cross-list Courses
                      </span>
                    </h2>
                    <p title="Cross-list Courses">Set up and modify cross-listings</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}

    {% if conclude_courses %}
        <div class="card card_color">
          <a href="{{ conclude_courses }}" target="_blank" id="conclude-courses">
            <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-hand-stop-o icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Conclude Courses">
                      <span class="content-link">
                        Conclude Courses
                      </span>
                    </h2>
                    <p title="Conclude Courses">Set or modify a conclusion date for a specific course</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}

    {% if publish_courses_allowed %}
        <div class="card card_color">
          <a href="{% url 'publish_courses:index' %}" id="publish_courses">
              <div class="card-body">
              <div class="card-header card-header_color5">
              </div>
              <div class="card-content card-content_normal">
                <div class="card-content-width">
                  <div class="card-content-icon">
                    <i class="fa fa-cloud icon-size"></i>
                  </div>
                  <div class="card-content-data">
                    <h2 class="card-content-title ellipsis" title="Publish Courses">
                      <span class="content-link">
                        Publish Courses
                      </span>
                    </h2>
                    <p title="Publish Courses">Publish multiple Canvas sites by term</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
    {% endif %}
{% endblock content %}
