{% extends 'bulk_site_creator/base.html' %}

{% block body %}
<nav>
  <h3>
    <a href="{% url 'dashboard_account' %}">Admin Console</a>
    <small><i class="fa fa-chevron-right"></i></small>
    Bulk Site Creation
  </h3>
</nav>

<body role="application">
    <div class="container-fluid">
        {% for message in messages %}
            {% if message.level_tag == "success" %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% elif message.level_tag == "error" %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% elif message.level_tag == "warning" %}
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% else %}
                <div class="alert" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <h3>
        Placeholder text for description
    </h3>

    {% if terms %}
        <form class="form-inline" method="POST" action="{% url 'bulk_site_creator:index' %}">{% csrf_token %}
            <div class="row">
                <div class="col-sm-6 margin-bottom-md">
                    <label for="course-term">Term
                        <span class="required-field-marker">*</span>
                    </label>
                    <br>
                    <select id="course-term" name="course-term" class="form-control">
                        {% for term in terms %}
                            <option value="{{ term.id }}">{{ term.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-12">
                    <button id="find-courses-in-term" type="submit" class="btn btn-primary pull-right">
                        Find Courses
                    </button>
                </div>
            </div>
        </form>
    {% else %}
        Placeholder text for no terms for the current school
    {% endif %}

    {% if potential_course_sites %}
        <div class="row container-fluid">
            <h4>{{ potential_site_count }} courses ready for Canvas course site creation</h4>
            <select id="template-select" class="form-control">
                <option value="no-template">
                    No Template
                </option>
                {% for site_template in canvas_site_templates %}
                    <option value="{{ site_template.canvas_course_id }}">
                        {{ site_template.canvas_course_name }}
                    </option>
                {% endfor %}
            </select>
            <button type="button" ng-cloak class="btn btn-primary" data-toggle="modal" data-target="#confirmCreate">Create All</button>
            <button type="button" ng-cloak class="btn btn-primary" data-toggle="modal" data-target="#confirmCreate">Create Selected</button>
            <p>You may select individual courses from the list below to customize your Canvas course site creation job.</p>
            <table class="datatable table display no-footer">
                <thead>
                    <tr>
                        <th></th>
                        <th>SIS ID</th>
                        <th>Course Code</th>
                        <th>Course Title</th>
                        <th>Course Section</th>
                    </tr>
                </thead>
                <tbody>
                {% for potential_course_site in potential_course_sites %}
                    <tr>
                        <td></td>
                        <td>{{ potential_course_site.course_instance_id }}</td>
                        <td>{{ potential_course_site.short_title }}</td>
                        <td>{{ potential_course_site.title }}</td>
                        <td>{{ potential_course_site.section }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</body>
{% endblock %}

{% block js %}
    <script>
		$(document).ready(function() {
			$('.datatable').DataTable( {
                columnDefs: [ {
                    orderable: false,
                    className: 'select-checkbox',
                    targets:   0
                } ],
                select: {
                    style:    'multi',
                    selector: 'td:first-child'
                },
                order: [[ 1, 'asc' ]]
            } );
		});
	</script>
{% endblock js %}
