{% extends 'bulk_site_creator/base.html' %}

{% block body %}
<nav>
  <h3 class="breadcrumbs">
    <a href="{% url 'dashboard_account' %}">Admin Console</a>
    <i class="fa-solid fa-chevron-right"></i>
    Bulk Site Creator
  </h3>
</nav>


<body role="application">
    <div class="container-fluid">
        {% for message in messages %}
            {% if message.level_tag == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% elif message.level_tag == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% elif message.level_tag == "warning" %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row container-fluid">
        <h3>
            Bulk Creation Jobs:
            <a href="{% url 'bulk_site_creator:index' %}" class="btn btn-primary float-end ms-2" role="button" 
                aria-pressed="true" aria-label="refresh page" title="Refresh page" data-bs-toggle="tooltip" 
                data-bs-placement="top" data-bs-title="Refresh page"><i class="fa-solid fa-rotate-right"></i>
            </a>
            <a href="{% url 'bulk_site_creator:new_job' %}" class="btn btn-primary" style="float: right;">New Job</a>
        </h3>
        <table class="datatable table table-striped table-bordered dataTable no-footer">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Term</th>
                    <th>Started By</th>
                    <th>Status</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
            {% for bulk_job in jobs_for_school %}
                <tr>
                    <td>
                        <a href="{% url 'bulk_site_creator:job_detail' job_id=bulk_job.sk %}" 
                        data-bs-toggle="tooltip" data-bs-placement="top" title="View job detail" 
                        data-job-id="{{ bulk_job.sk }}"><i class="fa-solid fa-eye"></i></a>
                    </td>
                    <td>{{ bulk_job.created_at }}</td>
                    <td>{{ bulk_job.term_name }}</td>
                    <td>{{ bulk_job.creator_name }}</td>
                    <td>{{ bulk_job.workflow_state }}</td>
                    <td>{{ bulk_job.summary }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.datatable').DataTable({
                order: [[1, 'asc']],
                columnDefs: [
                    { 'orderable': false, 'targets': [0,] }
                ],
            });

            // Enable tooltips (Bootstrap 5.2.x).
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
        });
    </script>
{% endblock js %}
