{% extends 'bulk_site_creator/base.html' %}

{% block body %}
  <nav>
    <h3 class="breadcrumbs">
      <a href="{% url 'dashboard_account' %}">Admin Console</a>
      <i class="fa-solid fa-chevron-right"></i>
      <a href="{% url 'bulk_site_creator:index' %}">Bulk Site Creator</a>
      <i class="fa-solid fa-chevron-right"></i>
      Job Detail
    </h3>
  </nav>

  <body role="application">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
              <h3>Courses processed by this job</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
              <table class="table table-condensed">
                  <tr><th>Status: </th><td>{{ job.workflow_state }}</td></tr>
                  <tr><th>Started at: </th><td>{{ job.started_at }}</td></tr>
                  <tr><th>Completed at: </th><td>{{ job.completed_at }}</td></tr>
                  <tr><th>Template: </th><td>{{ job.template_name }}</td></tr>
                  <tr><th>Term: </th><td>{{ job.term_name }}</td></tr>
                  <tr><th>Created by: </th><td>{{ job.CREATOR_NAME }}</td></tr>
              </table>
          </div>
          <div class="col-sm-6">
              <table class="table table-condensed">
                  <tr><th>Total: </th><td>{{ job.task_total }}</td></tr>
                  <tr><th>Succeeded: </th><td>{{ job.task_succeeded}}</td></tr>
                  <tr><th>Failed: </th><td>{{ job.task_failed }}</td></tr>
              </table>
          </div>
        </div>
        <div class="row">
            <div class="row" style="margin-top: 3em;">
                <div class="col-sm-12">
                  <div id="job-detail-refresh-btn">
                    <a href="{% url 'bulk_site_creator:job_detail'  job %}" class="btn btn-primary float-end me-2" role="button"
                      aria-pressed="true" aria-label="refresh page" title="Refresh page" data-bs-toggle="tooltip" data-bs-placement="left"
                      data-bs-title="Refresh page"><i class="fa-solid fa-rotate-right"></i></a>
                  </div>
                    <table class="datatable table table-striped table-bordered dataTable no-footer" id="details_table">
                        <thead>
                            <th>Canvas Course ID</th>
                            <th>SIS ID</th>
                            <th>Course Code</th>
                            <th>Course Title</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                              <td><a href="{{ task.canvas_course_id }}">{{ task.canvas_course_id }}</a></td>
                                <td>{{ task.course_instance_id }}</td>
                                <td>{{ task.course_code }}</td>
                                <td>{{ task.course_title }}</td>
                                <td>{{ task.workflow_state }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        </div>
      </div>
  </body>
{% endblock %}

{% block js %}
    <script>
      $(document).ready(function () {
        $('.datatable').DataTable({
          order: [[1, 'asc']]
        });

        // Enable tooltips (Bootstrap 5.2.x).
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
      });
    </script>
{% endblock js %}



