{% extends "icommons_ui/base_lti.html" %}
{% load collections %}
{% load django_helpers %}

{% block title %}Bulk Enrollment Tool{% endblock title %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="https://static.tlt.harvard.edu/shared/DataTables-1.13.2/css/dataTables.bootstrap5.min.css"
          media="screen"/>
    <link rel="stylesheet" type="text/css"
          href="https://static.tlt.harvard.edu/shared/Select-1.6.0/css/select.bootstrap5.min.css"
          media="screen"/>
{% endblock stylesheet %}

{% block javascript %}
    {{ block.super }}
    <script src="https://static.tlt.harvard.edu/shared/DataTables-1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://static.tlt.harvard.edu/shared/DataTables-1.13.2/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://static.tlt.harvard.edu/shared/Select-1.6.0/js/select.bootstrap5.min.js"></script>
    <script src="https://static.tlt.harvard.edu/shared/Select-1.6.0/js/select.dataTables.min.js"></script>
    <script src="https://static.tlt.harvard.edu/shared/Select-1.6.0/js/select.jqueryui.min.js"></script>
    <script src="https://static.tlt.harvard.edu/shared/Select-1.6.0/js/dataTables.select.min.js"></script>

    <script>
        window.globals.STATIC_URL = '{% settings_value "STATIC_URL" %}';
        window.globals.CANVAS_URL = '{% settings_value "CANVAS_URL" %}';
    </script>
{% endblock javascript %}
