{% extends 'bulk_enrollment_tool/base.html' %}

{% block body %}

<nav>
  <h3>
    <a href="{% url 'dashboard_account' %}">Admin Console</a>
    <small><i class="fa fa-chevron-right"></i></small>
    Bulk Enrollment
  </h3>
</nav>

<div class="body">
    <div class="container-fluid">

        {% comment %} Message/alert section {% endcomment %}
        {% for message in messages %}
            {% if message.level_tag == "success" %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% elif message.level_tag == "error" %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% elif message.level_tag == "warning" %}
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% else %}
                <div class="alert" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        <br><br>
        
        {% comment %} Input/form section {% endcomment %}
        <form method="POST" action="{% url 'bulk_enrollment_tool:index' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="formControlFile1">Choose CSV enrollment file to upload</label>
                <input type="file" class="form-control-file" id="bulkEnrollmentFile" style="min-width: 1000px" required>
            </div>
            <button class="btn btn-primary" type="submit">Upload</button>          
        </form>
        <br><br>

        {% comment %} DataTables (most recent uploaded files) section {% endcomment %}
        <div class="container-fluid">
            <div class="row" style="margin-top: .25em;">
                <div style="margin-bottom: -20px; padding-top: 25px;">
                    <h4 class="modal-title bottom-spacing">Most recently uploaded enrollment files:</h4>
                </div>
                <table class="datatable table display no-footer">
                    <thead>
                        <th>File Name</th>
                        <th>Uploaded&nbsp;By</th>
                        <th>Date&nbsp;Uploaded</th>
                    </thead>
                    <tbody>
                    {% for item in most_recently_uploaded_list %}
                        <tr>
                            {% comment %} File name column {% endcomment %}
                            <td>
                                {{ item.file_name }}
                                {{ item.download_url }}
                            </td>
                            {% comment %} Uploaded By column {% endcomment %}
                            <td>
                                {{ item.uploaded_by }}
                            </td>
                            {% comment %} Date Uploaded column {% endcomment %}
                            <td>
                                {{ item.date_uploaded }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $('.datatable').dataTable( {
                    paging: false,
                    "info" : false,
                    "order": [],
                    "language": {
                      "search": "Filter the list"
                    }
                });
            });
        </script>

    </div> {% comment %} container-fluid {% endcomment %}
</div> {% comment %} body {% endcomment %}
{% endblock %}
