{% extends 'bulk_enrollment_tool/base.html' %}

{% block body %}

<nav>
  <h3>
    <a href="{% url 'dashboard_account' %}">Admin Console</a>
    <small><i class="fa fa-chevron-right"></i></small>
    Bulk Enrollment
  </h3>
</nav>

<div class="body">
    <div class="container-fluid">

        {% comment %} Message/alert section {% endcomment %}
        {% for message in messages %}
            {% if message.level_tag == "success" %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% elif message.level_tag == "error" %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% elif message.level_tag == "warning" %}
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% else %}
                <div class="alert" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        <br><br>
        
        {% comment %} Input/form section {% endcomment %}
        <form method="POST" action="{% url 'bulk_enrollment_tool:index' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="formControlFile1">Choose CSV enrollment file</label>
                <input type="file" class="form-control-file" id="bulkEnrollmentFile" style="min-width: 1000px" required>
            </div>
            <button class="btn btn-primary" type="submit">Upload</button>          
        </form>

    </div><!-- container-fluid -->
</div><!-- body -->
{% endblock %}
