{% extends "course_info_v2/base.html" %}

{% block breadcrumb %}
    <a href="{% url "dashboard_account" %}">Admin Console</a>
    <small><i class="fa fa-chevron-right"></i></small>
    Courses 
{% endblock breadcrumb %}

{% block content %}

<main class="float-left col-60">
  <div class="center-block search-input-group">
  <div class="btn-toolbar" role="toolbar" aria-label="...">

    <div class="btn-group" role="group" aria-label="...">
      <label id="dropdownMenuYearLabel" for="dropdownMenuYearOptionsList">
        Year
      </label>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button"
                ng-bind-html="filters.years.text" id="dropdownMenuYear"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" id="dropdownMenuYearOptionsList"
            aria-labelledby="dropdownMenuYearLabel">
          <li ng-repeat="opt in filterOptions.years">
            <a href="#/" ng-click="filters.years=opt">{{ opt.name }}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="btn-group" role="group" aria-label="...">
      <label id="dropdownMenuTermLabel" for="dropdownMenuTermOptionsList">
        Term
      </label>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button"
                ng-bind-html="filters.terms.text" id="dropdownMenuTerm"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" id="dropdownMenuTermOptionsList"
            aria-labelledby="dropdownMenuTermLabel">
          <li ng-repeat="opt in filterOptions.terms">
            <a href="#/" ng-click="filters.terms=opt">{{ opt.name }}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="btn-group" role="group" aria-label="...">
      <label id="dropdownMenuSitesLabel" for="dropdownMenuSitesOptionsList">
        Site status
      </label>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button"
                ng-bind-html="filters.sites.text" id="dropdownMenuSites"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <ul class="dropdown-menu" role="menu" id="dropdownMenuSitesOptionsList"
            aria-labelledby="dropdownMenuSitesLabel">
          <li ng-repeat="opt in filterOptions.sites">
            <a href="#/" ng-click="filters.sites=opt">{{ opt.name }}</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  </div>
  Search By:
  <div class="center-block  search-input-group">
      <input type="text" class="form-control" ng-model="queryString"
            ng-keypress="searchCourseInstances($event)"
            placeholder="Search by course title, associated site in Canvas, course code, or SIS/Course Instance ID">
  </div>
  <p>
    <div class="row">
      <div class="col-mid-12">
        <button type="button" class="btn btn-primary btn-block center-block"
                              ng-click="searchCourseInstances($event)">
          <i class="fa fa-search"></i>
          Search
        </button>
      </div>
      <div class="col-mid-5"></div>
    </div>
  </p>

    <p class="panel">
        <div ng-cloak ng-show="showDataTable">
            <table id="courseInfoDT" class="display" cellspacing="0" width="100%">
            <thead>
                <th class="sorting" tabindex="0">School&nbsp;&nbsp;</th>
                <th class="sorting" tabindex="0">Course Details&nbsp;&nbsp;</th>
                <th class="sorting" tabindex="0">Academic Year&nbsp;&nbsp;</th>
                <th class="sorting" tabindex="0">Academic Term&nbsp;&nbsp;</th>
                <th class="sorting" tabindex="0">Associated Site&nbsp;&nbsp;</th>
                <th class="sorting" tabindex="0">Course Code/Section&nbsp;&nbsp;</th>
                <th class="sorting" tabindex="0">SIS/Course Instance ID&nbsp;&nbsp;</th>
                <th class="sorting" tabindex="0">Cross Listing&nbsp;&nbsp;</th>
            </thead>
            </table>
        </div>
    </p>
</main>

{% endblock %}
