{% load static %}
{% load django_helpers %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.5.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'lti-css/bulkSiteCreator.css' %}">
    <link rel="stylesheet" href="{% static 'canvas_site_creator/css/app.css' %}">
    {% block css %}{% endblock css %}
{% if debug %}
    <script src="{% static 'jquery-2.2.2/jquery-2.2.2.js' %}"></script>
    <script src="{% static 'underscore-1.8.2/underscore.js' %}"></script>
    <script src="{% static 'angular-1.5.2/angular.js' %}"></script>
    <script src="{% static 'angular-1.5.2/angular-route.js' %}"></script>
    <script src="{% static 'angular-1.5.2/angular-sanitize.js' %}"></script>
    <script src="{% static 'angular-1.5.2/angular-animate.js' %}"></script>
    <script src="{% static 'angular-ui-bootstrap-0.14.3/ui-bootstrap-tpls-0.14.3.js' %}"></script>
    <script src="{% static 'djangular/js/django-angular.js' %}"></script>
{% else %}
    <script src="{% static 'jquery-2.2.2/jquery-2.2.2.min.js' %}"></script>
    <script src="{% static 'underscore-1.8.2/underscore.min.js' %}"></script>
    <script src="{% static 'angular-1.5.2/angular.min.js' %}"></script>
    <script src="{% static 'angular-1.5.2/angular-route.min.js' %}"></script>
    <script src="{% static 'angular-1.5.2/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'angular-1.5.2/angular-animate.min.js' %}"></script>
    <script src="{% static 'angular-ui-bootstrap-0.14.3/ui-bootstrap-tpls-0.14.3.min.js' %}"></script>
    <script src="{% static 'djangular/js/django-angular.min.js' %}"></script>
{% endif %}
    {# fixes safari autocomplete issue #}
    {# (see https://github.com/angular/angular.js/issues/1460) #}
    <script src="{% static 'course_info/js/polyfills/autofill-event.js' %}"></script>
    {% include 'django_auth_lti/resource_link_id.html' %}
    <script>
        window.globals.STATIC_URL = '{% settings_value "STATIC_URL" %}';
        window.globals.CANVAS_URL = '{% settings_value "CANVAS_URL" %}';
    </script>
    {% block js %}{% endblock js %}
    <title>Create Course Sites</title>
</head>
{% block body %}{% endblock body %}
</html>
