{% load static %}
{% load django_helpers %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="https://static.tlt.harvard.edu/shared/bootstrap-3.3.6/dist/css/bootstrap.min.css" media="screen"/>
    {% include 'django_auth_lti/resource_link_id.html' %}
    <script>
        window.globals.STATIC_URL = '{% settings_value "STATIC_URL" %}';
        window.globals.CANVAS_URL = '{% settings_value "CANVAS_URL" %}';
    </script>
    {% block js %}{% endblock js %}
    <title>Create Course Sites</title>
</head>
{% block body %}{% endblock body %}
</html>
