{% extends 'canvas_site_creator/base.html' %}

{% load static %}
{% load django_helpers %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'datatables-1.10.7/media/css/jquery.dataTables.min.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'lti-css/progressbar.css' %}">
{% endblock css %}

{% block js %}
    <script src="{% static 'datatables-1.10.7/media/js/jquery.dataTables.js' %}"></script>
    <script>
        window.globals.STATIC_URL = '{% settings_value "STATIC_URL" %}';
        window.globals.CANVAS_URL = '{% settings_value "CANVAS_URL" %}';
    </script>
    <script src="{% static 'canvas_site_creator/js/app.js' %}"></script>
    <script src="{% static 'canvas_site_creator/js/models/ErrorModel.js' %}"></script>
    <script src="{% static 'canvas_site_creator/js/controllers/ErrorController.js' %}"></script>
    <script src="{% static 'canvas_site_creator/js/models/BulkJobDetailModel.js' %}"></script>
    <script src="{% static 'canvas_site_creator/js/controllers/BulkJobDetailController.js' %}"></script>
{% endblock js %}

{% block body %}
<body class="lti-tool" role="application" ng-app="app" ng-controller="BulkJobDetailController">
    <header>
        <h1>
            <a href="{% url 'canvas_site_creator:index' %}">Canvas Site Creator</a>
            <i class="fa fa-chevron-right"></i>
            <a href="{% url 'canvas_site_creator:audit' %}">Audit Log</a>
            <i class="fa fa-chevron-right"></i>
            {% if not bulk_job_complete %}
                Creating Canvas Sites
            {% else %}
                {{ bulk_job.created_at|date:'M d, Y' }}
            {% endif %}
        </h1>
    </header>
    {% include 'canvas_site_creator/views/ErrorView.html' %}
    <main>
        {% if not bulk_job_complete %}
            <p><strong>Creating {{ course_jobs_total }} Canvas site{{ course_jobs_total|pluralize }} for:</strong></p>
        {% else %}
            <h2>Canvas Site Creation Job Completed</h2>
        {% endif %}
        <p>
            {{ school }} <i class="fa fa-chevron-right"></i>
            {{ term }}
            {% if department %}
            <i class="fa fa-chevron-right"></i> {{ department }}
            {% elif course_group %}
            <i class="fa fa-chevron-right"></i> {{ course_group }}
            {% endif %}
        </p>
        {% if not bulk_job_complete %}
            <form>
                <div class="progress">
                    {% verbatim %}
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ bulkJobDetailModel.completeCourseJobs }}" aria-valuemin="0" aria-valuemax="100" ng-style="getProgressBarStyle()">
                        <span ng-cloak ng-show="bulkJobDetailModel.completeCourseJobs">
                            {{ bulkJobDetailModel.completeCourseJobs }} out of {{ bulkJobDetailModel.totalCourseJobs }} course site creation jobs completed
                        </span>
                    </div>
                    {% endverbatim %}
                </div>

                {% verbatim %}
                <ul class="lists-inline">
                    <li ng-cloak ng-show="bulkJobDetailModel.successfulCourseJobs">
                        <span class="infoBlock-success">
                            <i class="fa fa-check"></i>
                            {{ bulkJobDetailModel.successfulCourseJobs }} of {{ bulkJobDetailModel.totalCourseJobs }} course
                            <ng-pluralize count="bulkJobDetailModel.totalCourseJobs"
                                          when="{'1': 'site',
                                                 'other': 'sites'}">
                            </ng-pluralize>
                            created
                        </span>
                    </li>
                    <li ng-cloak ng-show="bulkJobDetailModel.failedCourseJobs">
                        <span class="infoBlock-error">
                            <i class="fa fa-exclamation-circle"></i>
                            {{ bulkJobDetailModel.failedCourseJobs }} of {{ bulkJobDetailModel.totalCourseJobs }} course site creation
                            <ng-pluralize count="bulkJobDetailModel.totalCourseJobs"
                                          when="{'1': 'job',
                                                 'other': 'jobs'}">
                            </ng-pluralize>
                            failed
                        </span>
                    </li>
                </ul>
                {% endverbatim %}
            </form>
        {% else %}
            <p>Below is a summary of the Canvas site creation job:</p>
            <ul class="lists-inline">
                {% if course_jobs_successful %}
                <li>
                    <span class="infoBlock-success">
                        <i class="fa fa-check"></i>
                        {{ course_jobs_successful }} of {{ course_jobs_complete }} course site{{ course_jobs_complete|pluralize }} created
                    </span>
                </li>
                {% endif %}
                {% if course_jobs_failed %}
                <li>
                    <span class="infoBlock-error">
                        <i class="fa fa-exclamation-circle"></i>
                        {{ course_jobs_failed }} of {{ course_jobs_complete }} course site creation job{{ course_jobs_failed|pluralize }} failed
                    </span>
                </li>
                {% endif %}
            </ul>
        {% endif %}
        <table id="courseJobDT" ng-cloak data-bulk_job_id="{{ bulk_job.id }}" data-bulk_job_complete="{% if bulk_job_complete %}true{% endif %}" class="display" cellspacing="0" width="100%">
            <thead>
                {% include 'canvas_site_creator/_course_job_table_header.html' %}
            </thead>
            <tfoot>
                {% include 'canvas_site_creator/_course_job_table_header.html' %}
            </tfoot>
        </table>
    </main>
</body>
{% endblock body %}
