{% extends 'canvas_site_creator/base.html' %}

{% load static %}
{% load collections %}

{% block js %}
    {% include 'canvas_site_creator/_selected_filters.html' %}
    <script src="{% static 'canvas_site_creator/js/models/ErrorModel.js' %}"></script>
    <script src="{% static 'canvas_site_creator/js/models/CourseInstanceModel.js' %}"></script>
    <script src="{% static 'canvas_site_creator/js/models/CourseInstanceFilterModel.js' %}"></script>
    <script src="{% static 'canvas_site_creator/js/controllers/CourseSelectionController.js' %}"></script>
    <script src="{% static 'canvas_site_creator/js/controllers/CourseSelectionTableController.js' %}"></script>
    <script src="{% static 'canvas_site_creator/js/controllers/ErrorController.js' %}"></script>
    <script src="{% static 'canvas_site_creator/js/controllers/CourseInstanceController.js' %}"></script>
{% endblock js %}

{% block body %}
<body class="lti-tool" role="application" ng-app="app">
    <header>
        <h3 class="breadcrumbs" >
            <a href="{% url 'dashboard_account' %}">Admin Console</a>
            <small><i class="fa fa-chevron-right"></i></small>
            <a href="{% url 'canvas_site_creator:index' %}">Canvas Site Creator</a>
            <small><i class="fa fa-chevron-right"></i></small> Create Canvas Sites
        </h3>
    </header>
    {% include 'canvas_site_creator/views/ErrorView.html' %}
    <main ng-controller="CourseSelectionController">
        <p>
            <strong>
                <span id="totalCourses">{{ course_instance_summary.recordsTotalWithoutCanvasSite }}</span>
                course{{ course_instance_summary.recordsTotalWithoutCanvasSite|pluralize }}
                ({{ course_instance_summary.recordsTotalWithoutCanvasSiteWithISite }} iSite{{ course_instance_summary.recordsTotalWithoutCanvasSiteWithISite|pluralize }},
                {{ course_instance_summary.recordsTotalWithoutCanvasSiteWithExternal }} external) without Canvas sites for:
            </strong>
        </p>
        <p>
            {{ school.title_short }} <i class="fa fa-chevron-right"></i>
            {{ term.name }}
            {% if department %}
            <small><i class="fa fa-chevron-right"></i></small> {{ department.name }}
            {% elif course_group %}
            <small><i class="fa fa-chevron-right"></i></small> {{ course_group.name }}
            {% endif %}
            <a href="{% url 'canvas_site_creator:index' %}&school={{ school.school_id }}&term={{ term.id }}&department={{ department.id }}&course_group={{ course_group.id }}">
                Edit Selection
            </a>
        </p>

        <div class="courses">
            <form id="createForm" action="{% url 'canvas_site_creator:create_job' %}" method="POST">{% csrf_token %}
                <h2>
                    <span ng-hide="courseInstanceModel.getSelectedCourseIdsCount()">
                        {{ course_instance_summary.recordsTotalWithoutCanvasSite }} course{{ course_instance_summary.recordsTotalWithoutCanvasSite|pluralize }}
                    </span>
                    <ng-pluralize count="courseInstanceModel.getSelectedCourseIdsCount()"
                                  when="{'0': '',
                                         '1': '1 course',
                                         'other': '{} courses'}">
                    </ng-pluralize>
                    ready for Canvas course site creation
                </h2>
                {% if canvas_site_templates|length > 0 %}
                    <label>Template:</label>
                    <select id="templateSelect" ng-model="selectedTemplate" ng-change="handleTemplateSelection()">
                        {% if canvas_site_templates|length %}
                            <option value="default" data-url="">Choose a template...</option>
                        {% endif %}
                        <option value="None" data-url="">No template</option>
                        {% for t in canvas_site_templates %}
                        <option value="{{ t.canvas_course_id }}" data-url="{{ t.canvas_course_url }}">{{ t.canvas_course_name }}</option>
                        {% endfor %}
                    </select>
                    {% verbatim %}
                    <a href="{{ selectedTemplateUrl }}" ng-cloak ng-show="selectedTemplateUrl" target="_blank">Preview template</a>
                    {% endverbatim %}
                {% endif %}

                {% verbatim %}
                <button type="button" ng-cloak class="btn btn-primary" ng-disabled="selectedTemplate == 'default'" data-toggle="modal" data-target="#confirmCreate">Create {{ getCreateButtonMessage() }}
                </button>
                {% endverbatim %}

            </form>
        </div>
        <div class="modal fade" id="confirmCreate" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                        <h4 class="modal-title">Confirm Canvas Course Site Creation</h4>
                    </div>
                    <div class="modal-body">
                        <p ng-show="!courseInstanceModel.getSelectedCourseIdsCount()">
                            You are about create
                            <ng-pluralize count="courseInstanceModel.totalCourses"
                                          when="{'1': '1 course',
                                                 'other': '{} courses'}">
                            </ng-pluralize>
                            for Canvas site creation with <span ng-bind-html="confirmationTemplateClause"></span>.
                            <br>
                            You may close this window and select specific courses if you need to.
                        </p>

                        <p ng-show="courseInstanceModel.getSelectedCourseIdsCount()">
                            You have selected
                            <ng-pluralize count="courseInstanceModel.getSelectedCourseIdsCount()"
                                          when="{'1': '1 course',
                                                 'other': '{} courses'}">
                            </ng-pluralize>
                            for Canvas site creation with <span ng-bind-html="confirmationTemplateClause"></span>. You may remove courses from the list or close this window and add more courses if you need to.
                        </p>
                        <div ng-show="courseInstanceModel.getSelectedCourseIdsCount()">
                            {% include 'canvas_site_creator/views/CourseSelectionTableView.html' %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <button id="createCoursesConfirmed" type="button" class="btn btn-primary" ng-click="handleCreate()">
                            Yes, Create
                            <span ng-show="courseInstanceModel.getSelectedCourseIdsCount()">
                                <ng-pluralize count="courseInstanceModel.getSelectedCourseIdsCount()"
                                              when="{'1': '1 Canvas Site',
                                                     'other': '{} Canvas Sites'}">
                                </ng-pluralize>
                            </span>
                            <span ng-show="!courseInstanceModel.getSelectedCourseIdsCount()">
                                {{ course_instance_summary.recordsTotalWithoutCanvasSite }} Canvas Site{{ course_instance_summary.recordsTotalWithoutCanvasSite|pluralize }}
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <p>You may select individual courses from the list below to customize your Canvas course site creation job.</p>
        {% include 'canvas_site_creator/views/CourseInstanceTableView.html' %}
    </main>
</body>
{% endblock body %}
