{% extends 'canvas_site_creator/base.html' %}

{% load static %}
{% load collections %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'datatables-bootstrap3/BS3/assets/css/datatables.css' %}" media="screen"/>
  {% if debug %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.6/dist/css/bootstrap.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'datatables-1.10.7/media/css/jquery.dataTables.css' %}" media="screen"/>
  {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.6/dist/css/bootstrap.min.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'datatables-1.10.7/media/css/jquery.dataTables.min.css' %}" media="screen"/>
  {% endif %}
{% endblock css %}

{% block js %}
  {% if debug %}
    <script src="{% static 'bootstrap-3.3.6/dist/js/bootstrap.js' %}"></script>
  {% else %}
    <script src="{% static "bootstrap-3.3.6/dist/js/bootstrap.min.js" %}"></script>
  {% endif %}
  <script src="{% static 'canvas_site_creator/js/app.js' %}"></script>
  <script>
    // NOTE: Should come after loading app.js (because it defines the
    //       module), but before CreateNewCourseController.js (because it
    //       consumes the service).
    (function() {
      var app = angular.module('app');
      app.value('school', {id: "{{ school_id }}",
                           name: "{{ school_name }}"});
    })();
  </script>
  <script src="{% static 'canvas_site_creator/js/controllers/CreateNewCourseController.js' %}"></script>
{% endblock js %}

{% block body %}
  <body class="lti-tool lti-tool-bootstrap" role="application" ng-app="app">
  <header>
    <h3 class="breadcrumbs">
      <a href="{% url 'dashboard_account' %}">Admin Console</a>
      <small><i class="fa fa-chevron-right"></i></small>
      <a href="{% url 'canvas_site_creator:index' %}">Canvas Site Creator</a>
      <small><i class="fa fa-chevron-right"></i></small>
      Create a New Course
    </h3>
  </header>

  {% verbatim %}
  <div class="container-fluid" ng-controller="CreateNewCourseController">

    <!-- success Message -->
    <div ng-cloak ng-show="courseCreationSuccessful">
      <div class="row"> <!-- Open row -->

        <div id="success-msg" class="alert alert-success col-md-12"
             role="alert">
          <b>
            {{ getCourseDisplayName() }}
          </b>
          was successfully created in {{ school.name }}.
            <span ng-cloak ng-show="templateUsed">
                The content from the template may take a minute to populate.
            </span>


        </div>

      </div> <!-- Close row -->

      <div class="row"> <!-- Open row -->
        <div class="col-md-12">
          <div id="new-course-info-container"
               class="dataTables_wrapper form-inline no-footer">
            <table id="new-course-info-datatable" class="dataTable">
              <thead>
                <tr role="row">
                  <th class="selenium-col-school-id">School</th>
                  <th class="selenium-col-course-title">Course Title</th>
                  <th class="selenium-col-short-title">Short Title</th>
                  <th class="selenium-col-academic-year">Academic Year</th>
                  <th class="selenium-col-academic-term">Academic Term</th>
                  <th class="selenium-col-associated-site">Associated Site</th>
                  <th class="selenium-col-course-code">Course Code</th>
                  <th class="selenium-col-sis-course-instance-id">
                    SIS/Course Instance ID
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr role="row">
                  <td class="selenium-col-school-id">
                    {{ newCourseInstance.course.school_id | uppercase }}
                  </td>
                  <td class="selenium-col-course-title">
                    {{ newCourseInstance.title }}
                  </td>
                  <td class="selenium-col-short-title">
                    {{ newCourseInstance.short_title }}
                  </td>
                  <td class="selenium-col-academic-year">
                    {{ newCourseInstance.term.academic_year }}
                  </td>
                  <td class="selenium-col-academic-term">
                    {{ newCourseInstance.term.display_name }}
                  </td>
                  <td class="selenium-col-associated-site">
                      <a href="{{ newCourseInstance.canvas_course_url }}"
                         target="_blank">
                        {{ newCourseInstance.canvas_course_id }}
                      </a>
                  </td>
                  <td class="selenium-col-course-code">
                    {{ newCourseInstance.course.registrar_code }}
                    ({{ newCourseInstance.course.course_id }})
                  </td>
                  <td class="selenium-col-sis-course-instance-id">
                    {{ newCourseInstance.course_instance_id }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> <!-- Close row -->

    </div>
    <!-- End success Message -->

    <!-- Main form -->
    <div ng-cloak ng-show="!courseCreationSuccessful">

      <!-- Form content -->
      <form ng-submit="handleCreate()">
        <div class="row"> <!-- Form row: term, course code -->

          <div class="col-md-6 margin-bottom-md">
            <label for="course-term">Term <span
                class="required-field-marker">*</span></label>
            <div ng-switch="terms.length > 0">
              <select ng-switch-when="false"
                      id="course-term-placeholder"
                      name="course-term-placeholder"
                      class="form-control"
                      disabled="disabled">
                <option selected>Loading active terms...</option>
              </select>
              <select ng-switch-when="true"
                      id="course-term"
                      name="course-term"
                      class="form-control"
                      ng-disabled="courseCreationInProgress"
                      ng-model="course.term"
                      ng-options="t.id as t.name for t in terms">
              </select>
            </div>
          </div>


          <div class="col-md-6 margin-bottom-md">
            <label for="course-code">New Course Code <span
                class="required-field-marker">*</span></label>
            <div class="input-group" id="course-code-input-group">
              <select id="course-code-type"
                      name="course-code-type"
                      class="form-control"
                      ng-disabled="courseCreationInProgress"
                      ng-init="course.codeType = 'ILE'"
                      ng-model="course.codeType"
                      ng-change="setCourseCode()">
                <option value="ILE">ILE</option>
                <option value="SB">SB</option>
              </select>
              <input type="text"
                     class="form-control pull-right"
                     id="course-code"
                     name="course-code"
                     placeholder=""
                     ng-disabled="courseCreationInProgress"
                     ng-model="course.codeString"
                     ng-change="setCourseCode()">
            </div> <!-- .input-group -->
          </div>

        </div> <!-- End Form row: term, course code -->

        <div class="row"> <!-- Form row: course title, short title -->

          <div class="col-sm-6 margin-bottom-md">
            <label for="course-title">New Course Title <span
                class="required-field-marker">*</span></label>
            <input type="text"
                   class="form-control"
                   id="course-title"
                   name="course-title"
                   ng-disabled="courseCreationInProgress"
                   ng-model="course.title">
          </div>

          <div class="col-sm-3 margin-bottom-md">
            <label for="course-short-title">New Short Title</label>
            <input type="text"
                   class="form-control"
                   id="course-short-title"
                   name="course-short-title"
                   ng-disabled="courseCreationInProgress"
                   ng-model="course.shortTitle">
          </div>
    {% endverbatim %}
          <div class="col-sm-3 margin-bottom-md">
            <label for="templateSelect">Template</label>
            <div>
                <select id="templateSelect"
                        ng-init="selectedTemplate='No template'"
                        ng-model="selectedTemplate"
                        class="form-control"
                        >
                    <option value="No template">No template</option>
                    {% for t in canvas_site_templates %}
                        <option value="{{ t.canvas_course_id }}">{{ t.canvas_course_name }}</option>
                    {% endfor %}
                </select>
            </div>
          </div>
  {% verbatim %}

        </div> <!-- End Form row: course title, short title -->

        <div class="row margin-bottom-md"> <!-- Form row: action buttons -->

          <div class="col-md-12">
            <a type="link" class="btn btn-default"
               ng-disabled="courseCreationInProgress"
  {% endverbatim %}
               href="{% url 'canvas_site_creator:index' %}">
  {% verbatim %}
              Cancel
            </a>
            <!-- UI comment - this button triggers the modal window -->
            <button id="create-course-instance" type="submit"
                    class="btn btn-primary pull-right"
                    ng-disabled="!createButtonEnabled()"
              <span ng-switch="courseCreationInProgress">
                <span ng-switch-when="false">
                  Create a New Course
                </span>
                <span ng-switch-when="true">
                  <i class="fa fa-refresh fa-spin"></i> Creating Course...
                </span>
              </span>
            </button>
          </div>

        </div> <!-- End Form row: action buttons -->

        <div class="row margin-bottom-md"> <!-- Form row: form instructions -->

          <div class="col-md-12">
            <span class="required-field-marker">*</span> = Required information
            <br>
            ILE = Informal Learning Experience
            <br>
            SB = Sandbox
          </div>

        </div> <!-- End Form row: form instructions -->
      </form>
      <!-- Form content end -->

    </div>

    <!-- Main form end -->

  </div>

  {% endverbatim %}

  </body>
{% endblock body %}
