{% extends 'canvas_site_creator/base.html' %}

{% load static %}
{% load collections %}
{% load django_helpers %}


{% block body %}
<body class="lti-tool" role="application">
<header>
    <!--https://getbootstrap.com/docs/5.3/utilities/spacing/-->
    <h3 class="mt-3 mb-2">
        <a href="{% url 'dashboard_account' %}">Admin Console</a>
        <small><i class="fa fa-chevron-right"></i></small>
        Create a New ILE/SB Course
    </h3>
</header>

<div class="container-fluid">
    {% for message in messages %}
        {% if message.level_tag == "success" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                Course <a href="{{ canvas_url }}/courses/{{ message }}" target="_blank">{{ message }}</a> successfully created.
            </div>
        {% elif message.level_tag == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% elif message.level_tag == "warning" %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="container-fluid">

    <div>
        <form action="{% url 'canvas_site_creator:create_new_course' %}" method="post" id="ciForm">{% csrf_token %}

            <div class="row">
                <!--https://getbootstrap.com/docs/5.0/utilities/text/#font-weight-and-italics-->
                <div class="col-sm-6 mt-3 mb-2 fw-bold">
                    <label for="course-term">Term <span class="required-field-marker">*</span></label>
                    <div>
                        <select id="course-term" name="course-term" class="form-select">
                            {% for term in terms %}
                            {{ term }}
                                <option value="{{ term.id }}">{{ term.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 mt-3 mb-2 fw-bold">
                    <label for="course-code">New Course Code <span class="required-field-marker">*</span></label>
                    <div class="input-group" id="course-code-input-group">
                        <div class="col-sm-4 margin-bottom-md">
                        <select id="course-code-type" name="course-code-type" class="form-select">
                            <option value="ILE">ILE</option>
                            <option value="SB">SB</option>
                            <option value="BLU" hidden>BLU</option>
                        </select>
                            </div>
                        <div class="col-sm-8 margin-bottom-md">
                        <input type="text"
                               class="form-control pull-right"
                               id="course-code"
                               name="course-code"
                               minlength="3"
                               maxlength="50"
                               required>
                            </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mt-3 mb-2 fw-bold">
                    <label for="course-title">New Course Title <span class="required-field-marker">*</span></label>
                    <input type="text"
                           class="form-control"
                           id="course-title"
                           name="course-title"
                           minlength="3"
                           maxlength="50"
                           required>
                </div>
                <div class="col-sm-6 mt-3 mb-2 fw-bold">
                    <label for="course-short-title">New Short Title</label>
                    <input type="text"
                           class="form-control"
                           id="course-short-title"
                           name="course-short-title">
                </div>
                <div class="col-sm-3 mt-3 mb-2 fw-bold">
                    <label for="template-select">Template</label>
                    <div>
                        <select id="template-select" name="template-select" class="form-select">
                            <option value="No template">No template</option>
                            {% for template in canvas_site_templates %}
                                <option value="{{ template.canvas_course_id }}">{{ template.canvas_course_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            <div class="col-sm-3 mt-3 mb-2 fw-bold">
            {% if departments %}
                <label for="courseDepartment">Department
                    <span class="required-field-marker">*</span>
                </label>
                <select id="courseDepartment" name="courseDepartment" class="form-select">
                    {% for department in departments %}
                        {% if selected_department_id and selected_department_id == department.id %}
                            <option value="{{ department.id }}" selected>{{ department.name }}</option>
                        {% elif department.name == 'Informal Learning Experiences' %}
                            <option value="{{ department.id }}" selected>{{ department.name }}</option>
                        {% else %}
                            <option value="{{ department.id }}">{{ department.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% elif course_groups %}
                <label for="courseCourseGroup">Course Group
                    <span class="required-field-marker">*</span>
                </label>
                <select id="courseCourseGroup" name="courseCourseGroup" class="form-select">
                    {% for course_group in course_groups %}
                        {% if selected_course_group_id and selected_course_group_id == course_group.id %}
                            <option value="{{ course_group.id }} {{ course_group.name }}" selected>{{ course_group.name }}</option>
                        {% elif course_group.name == 'Informal Learning Experiences' %}
                            <option value="{{ course_group.id }} {{ course_group.name }}" selected>{{ course_group.name }}</option>
                        {% else %}
                            <option value="{{ course_group.id }} {{ course_group.name }}">{{ course_group.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endif %}
            </div>
                <div class="col-sm-3 mt-3 mb-2 fw-bold">
                    <label for="is_blueprint">Blueprint Course</label>
                    <div class="checkbox" style="margin-top: 0px">
                        <label>
                            <input type="checkbox" id="is_blueprint" name="is_blueprint"> Enable course as a Blueprint Course
                        </label>
                    </div>
                </div>

            </div>

            <div class="row mt-3 mb-2">
                <div class="col-md-12">
                    <button id="create-course-instance"
                            type="submit"
                            class="btn btn-primary"
                            style="float: right;">
                        <span>
                          Create a New Course
                        </span>
                    </button>
                </div>
            </div>

            <div class="row margin-bottom-md">
                <div class="col-md-12">
                    <span class="required-field-marker">*</span> = Required information
                    <br>
                    ILE = Informal Learning Experience
                    <br>
                    SB = Sandbox
                    <br>
                    BLU = Blueprint
                </div>
            </div>

        </form>
    </div>

</div>

</body>
{% endblock body %}

{% block js %}
<script>
    $(document).ready(function () {
        // Disable the code type select and set the value to BLU when the enable blueprint checkbox is selected
        // When the checkbox is deselected, remove the disabled prop and set the value to ILE
        $('#is_blueprint').change(function() {
            if ($(this).is(':checked')) {
                $('#course-code-type').prop('disabled', true);
                $('#course-code-type option[value="BLU"]').prop('selected', true);
            } else {
                $('#course-code-type').prop("disabled", false)
                $('#course-code-type option[value="ILE"]').prop('selected', true);
            }
        });

        // Intercept prior to submitting to disable the button and display a loading spinner
        // If this is a blueprint course, remove the disabled property from the select otherwise it does not get posted
        $('form').bind('submit', function () {
            $(this).find(':input').prop('disabled', false);
            $("#create-course-instance").
            prop("disabled", true).
            html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
            );
        });
    });

</script>
{% endblock js %}
