{% extends 'canvas_site_creator/base.html' %}

{% load static %}
{% load collections %}
{% load django_helpers %}

{% block js %}
{% endblock js %}

{% block body %}
<body class="lti-tool" role="application">
<header>
    <h3 class="breadcrumbs">
        <a href="{% url 'dashboard_account' %}">Admin Console</a>
        <small><i class="fa fa-chevron-right"></i></small>
        Create a New ILE/SB Course
    </h3>
</header>

<div class="container-fluid">

    <div>

        <form>
            <div class="row">
                <div class="col-sm-6 margin-bottom-md">
                    <label for="course-term">Term <span class="required-field-marker">*</span></label>
                    <div>
                        <select id="course-term" name="course-term" class="form-control">
                            {% for term in terms %}
                            {{ term }}
                                <option value="{{ term.id }}">{{ term.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 margin-bottom-md">
                    <label for="course-code">New Course Code <span class="required-field-marker">*</span></label>
                    <div class="input-group" id="course-code-input-group">
                        <div class="col-sm-4 margin-bottom-md">
                        <select id="course-code-type" name="course-code-type" class="form-control">
                            <option value="ILE">ILE</option>
                            <option value="SB">SB</option>
                            <option value="BLU">BLU</option>
                        </select>
                            </div>
                        <div class="col-sm-8 margin-bottom-md">
                        <input type="text"
                               class="form-control pull-right"
                               id="course-code"
                               name="course-code">
                            </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 margin-bottom-md">
                    <label for="course-title">New Course Title <span class="required-field-marker">*</span></label>
                    <input type="text"
                           class="form-control"
                           id="course-title"
                           name="course-title">
                </div>

                <div class="col-sm-6 margin-bottom-md">
                    <label for="course-short-title">New Short Title</label>
                    <input type="text"
                           class="form-control"
                           id="course-short-title"
                           name="course-short-title">
                </div>
                <div class="col-sm-3 margin-bottom-md">
                    <label for="templateSelect">Template</label>
                    <div>
                        <select id="templateSelect" class="form-control">
                            <option value="No template">No template</option>
                            {% for template in canvas_site_templates %}
                                <option value="{{ template.canvas_course_id }}">{{ template.canvas_course_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-sm-3 margin-bottom-md">
                    <label for="templateSelect">Blueprint Course</label>
                    <div class="checkbox" style="margin-top: 0px">
                        <label>
                            <input type="checkbox" id="isBlueprint"> Enable course as a Blueprint Course
                        </label>
                    </div>
                </div>

            </div>

            <div class="row margin-bottom-md">
                <div class="col-md-12">
                    <button id="create-course-instance" type="submit" class="btn btn-primary pull-right">
                        <span>
                          Create a New Course
                        </span>
                    </button>
                </div>
            </div>

            <div class="row margin-bottom-md">
                <div class="col-md-12">
                    <span class="required-field-marker">*</span> = Required information
                    <br>
                    ILE = Informal Learning Experience
                    <br>
                    SB = Sandbox
                    <br>
                    BLU = Blueprint
                </div>
            </div>

        </form>
    </div>

</div>

</body>
{% endblock body %}
