{% extends 'canvas_site_creator/base.html' %}

{% block content %}
    <div id="content" role="main" class="col-md-6 col-md-offset-3">
        <div id="unauthorized_holder">
            <div id="unauthorized_message" class="">
                <h4 class="ui-state-error">
                    <i class="fa fa-warning error-icon"></i>Access Restricted
                </h4>
                <div class="ui-error-msg">
                    <p>
                        You are attempting to access the Canvas Site Creator at
                        the department level. If you are a School Liaison or
                        Account Admin, please navigate to your sub-account
                        homepage to use this tool.
                    </p>
                </div>
            </div>
        </div>
	</div>
{% endblock content %}
