{% extends "qualtrics_whitelist/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Search a Person{% endblock %}
{% block pagetitle %}Search a Person{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
	<li class="active"><a href="#">You are here trying to lookup a Person</a></li>
</ul>
{% endblock %}


{% block content %}
<!-- {% if qualtrics_access_list %}

<table class="table">
	{% for person in qualtrics_access_list %}
		<tr><td>{{ person.user_id|upper }}</td><td>{{ person.description }}</td></tr>
	{% endfor %}
</table>

{% endif %} -->
<h4>Search By HUID</h4>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="../qualtrics_access_results_list/" method="POST">{% csrf_token %}
	Search For:
	<input type="text" name="search_huid"><br><br>
    
	<input type="submit" value="Search Now" />
</form>

{% endblock %}

<!-- {% block pagescripts %}
<script>
    $(document).ready(function(){

        $('#button-id-cancel').click(function(){
            parent.history.back();
            return false;
        });

        

    });
</script>
{% endblock %} -->