{% extends "qualtrics_whitelist/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Confirm a delete{% endblock %}
{% block pagetitle %}Confirm a delete{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
	<li class="active"><a href="#">You are here trying to delete a Person</a></li>
</ul>
{% endblock %}


{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="../qualtrics_access_list/" method="POST">{% csrf_token %}
	<p>Are you sure you want to delete?</p>
    <input type="submit" value="Confirm" />
</form>

{% endblock %}
