{% extends "qualtrics_whitelist/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Search a Person{% endblock %}
{% block pagetitle %}Search a Person{% endblock %}


{% block content %}
<form action="{% url 'qwl:access_resultsview' %}" method="POST">{% csrf_token %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<table>
	<tr>
		<td>
			<h4>Search By HUID: </h4></td></tr>
	<tr>
		<td>
			<input type="text" name="search_by_huid"><br><br></td></tr>
	<tr>
		<td>
			<h4>Search By Email Adress: </h4></td></tr>
	<tr>
		<td>
			<input type="text" name="search_by_email"><br><br></td>
	</tr>
</table>
<input type="submit" class="btn btn-primary" name="Search" value="Search Now" />  
<!-- <button type="button" name="Search" class="btn btn-primary" id="search">Search Now</button>  -->
<input type="submit" class="btn btn-primary" name="Cancel" value="Cancel" />
</form>


{% endblock %}

