{% extends "qualtrics_whitelist/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Add a Person{% endblock %}
{% block pagetitle %}Add Person{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
	<li class="active"><a href="#">You are here trying to add Person</a></li>
</ul>
{% endblock %}


{% block content %}
<h4>Confirm and add a Person</h4>
{% if qualtrics_access_create %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/qualtrics_access_list/" method="POST">{% csrf_token %}

Hello

<table class="table">
	<tr><td>HUID</td><td>{{ user_id }}</td></tr>
	<tr><td>First Name</td><td>{{ first_name }}</td></tr>
	<tr><td>Last Name</td><td>{{ last_name }}</td></tr>
	<tr><td>Email</td><td>{{ email }}</td></tr>
	<tr><td>Reason</td><td>{{ reason_desc }}</td></tr>
	<tr><td>Access End Date</td><td>{{ access_end_date }}</td></tr>
	<tr><td><input type="submit" value="Save" /></td><td><input type="submit" value="Cancel" /></td><tr>
</table>


<!-- HUID: <label>{{ user_id }}</label><br />
First Name: <label>{{ first_name }}</label><br />
Last Name: <label>{{ last_name }}</label><br />
Email Address: <label>{{ email_address }}</label><br />
Reason: <input type=text name="description"> <br />
Access End Date: <type=text name="description"> <br /> -->
    
    <!-- <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    
	<input type="submit" value="Save it now" /> -->


</form>

{% endif %}
<!-- {% if qualtrics_access_list %}

<table class="table">
	{% for person in qualtrics_access_list %}
		<tr><td>{{ person.user_id|upper }}</td><td>{{ person.description }}</td></tr>
	{% endfor %}
</table>

{% endif %}  -->


{% endblock %}