{% extends "icommons_ui/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Edit a Person{% endblock %}
{% block pagetitle %}Edit Person{% endblock %}


{% block content %}
<h4>Update the reason and/or the access end date</h4>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'qwl:access_update' %}" method="POST">{% csrf_token %}
<input type="hidden" name="id" value="{{ object.id }}" >
<input type="hidden" name="user_id" value="{{ object.user_id }}" >

<table class="table">
	<tr><td>HUID</td><td>{{ object.user_id }}</td></tr>
	<tr><td>First Name</td><td>{{ object.first_name }}</td></tr>
	<tr><td>Last Name</td><td>{{ object.last_name }}</td></tr>
	<tr><td>Email</td><td>{{ object.email_address }}</td></tr>
	<!-- <tr><td>Reason</td><td>{{ object.description }}</td></tr> -->
	<!-- <tr><td>Reason</td><td><div id="description" contenteditable>{{ object.description }}</div></td></tr> -->
	<tr><td>Reason</td><td><input type="text" name="description" value="{{ object.description }}">
	<!-- <td><div id="description" contenteditable>{{ person.description }}</div></td> -->
	<tr><td>Access End Date</td><td><input type="text" id="datepicker" class="dateinput" name="access_end_date" value="{{ object.access_end_date }}"></td>
	</tr>
	<tr><td>
		<!-- <input type="submit" class="btn btn-primary" value="Update" /> -->
		<button class="btn btn-primary" type="submit" name="Update" onclick="return checkReason()" >Update</button>
		<input type="submit" class="btn btn-primary" value="Cancel" name="cancel"/></td><tr>
</table>

</form>


{% endblock %}

{% block javascript %}
{{ block.super }}
<script>

$(document).ready(function() { 
	$('.dateinput').datepicker();
});

function checkReason()
{
	if (!form1.description.value)
	{
		alert ("Please Enter a Reason description.");
		return false;
	}
	return true;
}
	
</script>

{% endblock %}