.bring-forward {
    /* hack to ensure some page regions can be interacted with when partially
    occluded by other regions (e.g. so privacy disclaimer button can be clicked
    despite the div to the left of it spilling over into its page space) */
    z-index: 10;
}

.btn-group {
  margin-top: 1em;
}


#directoryLink {
    margin-bottom: 1em;
}

div.btn-toolbar div.input-group {
    width: 56%;
}

div.course-membership-entry {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 1px 0;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: .5em;
}

div.progress div.progress-bar {
    width: 100%;
}

div.row div.col-mid-12 button.center-block {
    width: 15%;
    min-width: 15%;
}

div.search-input{
  margin-top: 1em;
  max-width:60%;
}

h3.breadcrumbs {
    line-height: 1.5em;
}

i.fa-trash-disabled {
    color: #ccc;
}

#people {
    /* pad add people button and its expand-o-widget equally */
    margin-bottom: 20px;
}

#privacyDropdown {
    padding: 1em;
    width: 30em;
}

#progressBarOuterWrapper {
    padding-top: 1em;
}

table.dataTable thead .sorting.sorting_disabled {
    background-image: none;
}

table.course-info-table {
    border: solid 1px #ccc;
    margin-top: 1em;
}
