{% extends "canvas_shopping/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Course Shopping{% endblock %}

{% block content %}

<h1>{{ error_message }}</h1>

<p>{{ error_detail }}</p>

{% if error_options %}

<ul>

    <li>DCE: <a href="AcademicTechnology@dce.harvard.edu">AcademicTechnology@dce.harvard.edu</a></li>
    <li>FAS: <a href="atg@fas.harvard.edu">atg@fas.harvard.edu</a></li>
    <li>GSD: <a href="klau@gsd.harvard.edu">klau@gsd.harvard.edu</a></li>
    <li>GSE: <a href="it_onestop@gse.harvard.edu">it_onestop@gse.harvard.edu</a></li>
    <li>HDS: <a href="coursesites@hds.harvard.edu">coursesites@hds.harvard.edu</a></li>
    <li>HKS: <a href="helpdesk@hks.harvard.edu">helpdesk@hks.harvard.edu</a></li>
    <li>HLS: <a href="ask@edtech.libanswers.com">ask@edtech.libanswers.com</a></li>
    <li>HMS: <a href="mycourses_support@hms.harvard.edu">mycourses_support@hms.harvard.edu</a></li>
    <li>HSPH: <a href="mets@hsph.harvard.edu">mets@hsph.harvard.edu</a></li>

</ul>
{% endif %}

{% endblock %}