{% extends "canvas_shopping/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Canvas Courses I'm Shopping{% endblock %}
{% block page_title %}Canvas Courses I'm Shopping{% endblock %}

{% block content %}

<h1>Canvas Courses I'm Shopping</h1>
<p>
    You have added the following course(s)to your shopping list. This means that you can receive notifications,
    join discussions, and upload assignments during shopping period. Your contributions may be visible to other
    students who are also shopping this course. Enrollment is not final until confirmation from the Registrar.
</p>

{% if courses %}
<table class="table">
    {% for enrollment_id, course in courses.items %}
        <tr>
            <td> {{ course.code }} {{ course.name }}
            </td>
            <td>
                    <a href="{{ canvas_base_url }}/courses/{{ course.id }}" class="btn btn-primary">Go to course website</a>
            </td>
            <td>
                <form method="POST" action="{% url 'sh:remove_shopper_ui' %}">{% csrf_token %}
                    <input type="hidden" name="canvas_course_id" value="{{ course.id }}"/>
                    <input type="hidden" name="canvas_enrollee_id" value="{{ enrollment_id }}"/>
                    <button type="submit" class="btn btn-default" data-loading-text="Removing...">Remove Course</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
    <h3>You don't have any Canvas courses in your shopping list. Go back to your <a href="http://canvas.harvard.edu/">Canvas dashboard</a></h3>


{% endif %}


{% endblock %}
