{% extends "canvas_shopping/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Course Shopping{% endblock %}

{% block content %}

<h1>You have been removed from {{ canvas_course.name }}</h1>
<p>You will no longer be able to participate in or receive email notifications from this course site.</p>

<a href="{{ course_url }}" class="btn btn-primary"><i class="fa fa-arrow-right"></i>Get back to course</a>

<h3>Helpful links:</h3>

<ul>
	<li>Canvas dashboard (<a href="https://canvas.harvard.edu">https://canvas.harvard.edu</a>)</li>
	<li>my.harvard (<a href="http://my.harvard.edu">http://my.harvard.edu</a>)</li>
	<li>my.hds (<a href="http://my.hds.harvard.edu">http://my.hds.harvard.edu</a>)</li>
	<li>HDS course catalog (<a href="http://hds.harvard.edu/academics/courses">http://hds.harvard.edu/academics/courses</a>)</li>
	<li>University wide course catalog & cross-registration (<a href="https://coursecatalog.harvard.edu/">https://coursecatalog.harvard.edu/</a>)</li>
</ul>


{% endblock content %}