{% extends "canvas_shopping/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Choose a School{% endblock %}
{% block pagetitle %}Choose a School{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li class="active"><a href="#">Schools</a></li>
</ul>
{% endblock %}


{% block content %}
{% if school_list %}
<table class="table">
    {% for school in school_list %}
        <tr><td>{{ school.school_id|upper }}</td><td><a href="{% url 'sh:courselist' school_id=school.school_id %}"> {{ school.title_short }}</a></td></tr>
    {% endfor %}
</table>

{% endif %}


{% endblock %}
