{% extends "base.html" %}

{% block content %}
  <h1>{% block nav_title %} {% block title %} Qualtrics Login Link Generator {% endblock title %} {% endblock nav_title %}</h1>

  <div class="row">
    <form class="form-inline" role="form">
        <div class="form-group col-lg-8">
            <label class="sr-only" for="qtarget_url">Enter Qualtrics poll URL here</label>
            <input type="text" name="qtarget_url" id="qtarget_url" class="form-control input-lg" placeholder="Enter Qualtrics poll URL here" value="{{ qtarget_url }}"/>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Get distributable URL</button>
    </form> 
  </div>

  {% if short_url %}
  <h3>Short URL:</h3>
  <p><a href="{{ short_url }}">{{ short_url }}</a></p>
  {% endif %}

  {% if dist_url %}
  <h3>Full URL:</h3>
  <p><a href="{{ dist_url }}">{{ dist_url }}</a></p>
  {% endif %}

  <h3>Sample poll url:</h3>
  https://harvard.qualtrics.com/SE/?SID=SV_cGhUMm2my8xWK6F

{% endblock content %}
