{% extends 'self_enrollment_tool/base.html' %}

{% block body %}

<nav>
  <h3>
    <a href="{% url 'dashboard_account' %}">Admin Console</a>
    <small><i class="fa fa-chevron-right"></i></small>
    Enable Self Enrollment
  </h3>
</nav>

<body role="application">
    <div class="container-fluid">
        {% for message in messages %}
            {% if message.level_tag == "success" %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}

                </div>
            {% elif message.level_tag == "error" %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    <br><br>
    <div>
        <h4> Distributable link :</h4>
        {{ enrollment_url }}:enrollment_url
{#         {{ request.get_full_path }}"/self_enrollment_tool/enable"#}
        {{ request.path }}"/self_enrollment_tool/enable"

        <a href=" ">
             {% url 'self_enrollment_tool:enable'  course_instance_id=course_instance_id  %}
         </a>
    </div>

</div>
</body>


{% endblock %}