{% extends 'self_enrollment_tool/base.html' %}

{% block body %}

<nav>
  <h3>
    <a href="{% url 'dashboard_account' %}">Admin Console</a>
    <small><i class="fa fa-chevron-right"></i></small>
      <a href="{% url 'self_enrollment_tool:index' %}">Enable Self Enrollment</a>
      <small><i class="fa fa-chevron-right"></i></small>
      Add New
  </h3>
</nav>

<body role="application">
    <div class="container-fluid">
        {% for message in messages %}
            {% if message.level_tag == "success" %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}

                </div>
            {% elif message.level_tag == "error" %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    <br><br>
    {% if enrollment_url %}
        <div>
            Self-registration link for {{ role_name }} role:
        </div>
        <div>
            <a href="{{ enrollment_url }}" target="_blank" rel="noopener noreferrer">
                {{ enrollment_url }}
            </a>
        </div>
    {% endif %}
</div>
</body>


{% endblock %}