{% extends 'self_enrollment_tool/base.html' %}

{% block body %}

<nav>
  <h3>
    <a href="{% url 'dashboard_account' %}">Admin Console</a>
    <small><i class="fa fa-chevron-right"></i></small>
    Enable Self Enrollment
  </h3>
</nav>

<body role="application">
    <div class="container-fluid">
        {% for message in messages %}
            {% if message.level_tag == "success" %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% elif message.level_tag == "error" %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    <br><br>
    <div class="row">
        <b>Enter an SIS Course Id to lookup the ILE course:</b>
    </div>
    <br>
    <div class="row">
        <form class="form-inline" method="POST" action="{% url 'self_enrollment_tool:lookup' %}">{% csrf_token %}
            <div class="form-group col-sm-3">
                <label class="sr-only" for="course_search_term"> Enter Course Instance ID</label>
                <input type="search" name="course_search_term" class="form-control" id="course_search_term" placeholder="Enter Course Instance ID" style="width: 100%"/>
            </div>
            <div class="col-sm-3">
                <button type="submit" name="Search" id="course_search_button" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Searching...">
                <i class="fa fa-search"></i> Find Course</button>
            </div>
        </form>
    </div>
    <br>
    {% comment %} Start of Self Enrollment Course List section {% endcomment %}
    <div class="row" style="margin-top: .25em;">
        <div style="margin-bottom: -20px; padding-top: 50px;">
            <h4 class="modal-title bottom-spacing">Self Enrollment Course List:</h4>
        </div>
        <table class="datatable table display no-footer">
            <thead>
                <th>Course</th>
                <th>Role&nbsp;ID</th>
                <th>Modified&nbsp;By</th>
                <th>Delete</th>
            </thead>
            <tbody>
            {% for course in self_enroll_course_list %}
                <tr>
                    {% comment %} Course column {% endcomment %}
                    <td>
                        {{ course.school_id | upper }}
                        <b>
                        {% if course.school_id == 'hls' or course.school_id == 'ext'%}
                            {{ course.registrar_code }}
                        {% elif course.short_title %}
                            {{ course.short_title }}
                        {% elif course.registrar_code_display %}
                            {{ course.registrar_code_display }}
                        {% elif course.registrar_code %}
                            {{ course.registrar_code }}
                        {% else %}
                            No course code; course ID {{ course.course.course_id }}
                        {% endif %}
                        </b>
                        {% if course.section %}
                                {{ course.section }}
                        {% endif %}
                        <br>
                        {{ course.term.display_name}}
                        (course instance ID {{ course.course_instance_id }})
                        <br>
                        <i>
                        {% if course.course.school_id == 'hls' or course.course.school_id == 'ext'%}
                            {{ course.title }}
                        {% else %}
                            {{ course.sub_title }}
                        {% endif %}
                        </i>
                    </td>
                    {% comment %} Role ID column {% endcomment %}
                    <td>
                        <b>
                        {% if course.role_id %}
                            {{ course.role_id }}
                        {% else %}
                            No course role ID; course ID {{ course.course_instance_id }}
                        {% endif %}
                        </b>
                    </td>
                    {% comment %} Updated by column {% endcomment %}
                    <td>{{ course.last_modified_by_full_name }}</td>
                    {% comment %} Delete column {% endcomment %}
                    <td>
                        <a href="{% url 'self_enrollment_tool:remove_self_enroll' pk=course.pk %}"><i class="fa fa-lg fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('.datatable').dataTable( {
                paging: false,
                "bInfo" : false,
                "aoColumnDefs": [ { "orderable": false, "targets": 3 } ],
                "oLanguage": {
                  "sSearch": "Filter the list below"
                }
            });
        });
    </script>
    {% comment %} End of Self Enrollment Course List section {% endcomment %}
    <br>
    <div>
    {% if course_instance and abort is False %}
        <h4>Course Details:</h4>
            <table class="table table-striped table-hover">
                <tr> <th>Canvas course ID</th><td><a href="{{ canvas_url }}/courses/{{ course_instance.canvas_course_id}}" target="_new">{{course_instance.canvas_course_id}}</a></td></tr>
                <tr> <th>School</th><td>{{course_instance.term.school.school_id|upper }}</td></tr>
                <tr> <th>Title</th><td>{{course_instance.title}}</td></tr>
                {% if course_instance.short_title %}
                    <tr> <th>Short title</th><td>{{course_instance.short_title}}</td></tr>
                {% endif %}
                {% if course_instance.sub_title %}
                    <tr><th>Subtitle</th><td>{{ course_instance.sub_title }}</td></tr>
                {% endif %}
                <tr> <th>Course instance ID</th><td>{{course_instance.course_instance_id}}</td></tr>
{#                <tr> <th>Sync to Canvas</th><td>{{course_instance.sync_to_canvas}}</td></tr>#}
                <tr> <th>Term</th><td>{{course_instance.term.display_name}}</td></tr>
            </table>
        <br>
        <div class="row">
        <form class="form-inline" method="POST" action="{% url 'self_enrollment_tool:enable' course_instance_id=course_instance.course_instance_id %}">{% csrf_token %}
            <h4>Please Choose the role the enrollees should have in the  course:</h4>

            <div class="form-group col-sm-3" >
                <label for="course_enroll"> Role</label>
                    <select name="role_id" id="role_id" class="form-control">
                        {% for role in roles %}
                            <option value="{{ role}}">{{role}}</option>1
                        {% endfor %}
                    </select>
            </div>
            <div class="col-sm-3">
                <button type="submit" name="Enable " id="course_enroll_button" class="btn btn-primary"
                        data-loading-text=" Processing...">Enable Self Enrollment</button>
            </div>
        </form>
        </div>
    </div>
    {% endif %}

</div>
</body>


{% endblock %}